Repository dangdangwalk/dangdang-walk, pull requests merged in 2024-05, with the labels that each got.

#93 backend/DANG-190: nestjs/jwt module 에러를 해결하라
  backend/package-lock.json
  backend/package.json
Labels: backend

#95 backend/DANG-186: login api에 redirect query 추가
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/decorator/redirectUrl.decorator.ts
  backend/src/main.ts
  backend/src/typings/express.d.ts
Labels: backend

#96 infra/DANG-198: Backend 서비스 포트 변경하기
  .github/workflows/backend_deploy.yaml
Labels: infra

#97 frontend/DANG-194: Prettier 설정 변경
  frontend/.prettierrc
Labels: frontend

#99 backend/DANG-191: 산책 시작/중지 api 구현
  backend/src/app.module.ts
  backend/src/dog/dog.module.ts
  backend/src/dog/dog.service.ts
  backend/src/dog/dogs.entity.ts
  backend/src/entity/excrements.entity.ts
  backend/src/entity/userDogs.entity.ts
  backend/src/entity/walkDogs.entity.ts
  backend/src/fake/fake.controller.ts
  backend/src/users/users.entity.ts
  backend/src/walk/dtos/walk-command.dto.ts
  backend/src/walk/walk.controller.ts
  backend/src/walk/walk.module.ts
  backend/src/walk/walk.service.ts
Labels: backend

#100 frontend/DANG-202: 로그인 후 로그인전 path로 redirect
  frontend/src/components/OAuthButton.tsx
  frontend/src/pages/Login.tsx
Labels: frontend

#103 frontend/DANG-199: 윈도우에서의 lint 스크립트 경로 문제 해결
  frontend/package.json
Labels: frontend

#106 backend/DANG-167 백엔드 코드 공통화 및 리팩터링
  backend/src/config/session.ts
  backend/src/config/settings.ts
  backend/src/entity/walkLogPhotos.entity.ts
  backend/src/main.ts
  backend/src/users/users.entity.ts
  backend/src/users/users.service.ts
Labels: backend

#108 backend/DANG-209: 변경된 회원 api에 맞게 로직 및 구조 변경 & 로그인 기능 구현
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/decorators/redirectUrl.decorator.ts
  backend/src/auth/google/google.controller.ts
  backend/src/auth/kakao/kakao.controller.ts
  backend/src/auth/naver/naver.controller.ts
  backend/src/auth/oauth/google.service.ts
  backend/src/auth/oauth/kakao.service.ts
  backend/src/auth/oauth/naver.service.ts
  backend/src/auth/oauth/oauth.module.ts
  backend/src/auth/oauth/oauth.service.interface.ts
  backend/src/auth/token/token.service.ts
  backend/src/config/session.ts
  backend/src/main.ts
  backend/src/typings/express.d.ts
Labels: backend

#109 backend/DANG-210: 강아지 주별로 산책 체크 사항 응답 객체 생성하기
  backend/src/dog/dto/dog-statistic.dto.ts
Labels: backend

#111 frontend/DANG-212: oauth 로그인 실험
  frontend/src/api/auth.ts
  frontend/src/api/http.ts
  frontend/src/assets/icons/loginButton.svg
  frontend/src/components/LoginAlertModal.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/OAuthButton.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/pages/Profile.tsx
Labels: frontend

#112 frontend/DANG-211: 테스트용 테스트 작성
  frontend/src/vitest.test.ts
Labels: frontend

#114 backend/DANG-213: oauth service에서 redirect url 삭제
  backend/src/auth/oauth/google.service.ts
  backend/src/auth/oauth/kakao.service.ts
Labels: backend

#115 backend/DANG-216: main.ts cors 설정 추가
  backend/src/main.ts
Labels: backend

#116 frontend/DANG-217: 구글 oauth url 수정
  frontend/src/components/OAuthButton.tsx
Labels: frontend

#117 frontend/DANG-212: 백엔드 연결 테스트 페이지 구현
  frontend/src/index.tsx
  frontend/src/pages/Health.tsx
Labels: frontend

#118 backend/DANG-214: 토큰 재발급 api 추가
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/token/token.service.ts
Labels: backend

#119 frontend/DANG-219: auth.ts 불필요한 코드 정리
  frontend/src/api/auth.ts
Labels: frontend

#120 backend/DANG-196: auth guard에 사용자 존재 여부 확인 로직 추가 & 회원 탈퇴 api 추가
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/guards/auth.guard.ts
  backend/src/auth/guards/refreshToken.guard.ts
Labels: backend

#123 frontend/DANG-184: 타입스크립트 설정
  frontend/tsconfig.json
Labels: frontend

#125 frontend/DANG-223: 로그인 request body에 redirectURI 넣어주기
  frontend/src/api/auth.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/pages/Profile.tsx
Labels: frontend

#126 backend/DANG-224: login 로직에 redirect uri 추가
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/oauth/google.service.ts
  backend/src/auth/oauth/kakao.service.ts
  backend/src/auth/oauth/oauth.service.interface.ts
Labels: backend

#122 backend/DANG-207: dogs/statistics API 구현
  backend/src/app.module.ts
  backend/src/breed/breed.entity.ts
  backend/src/breed/breed.module.ts
  backend/src/breed/breed.service.ts
  backend/src/daily-walk-time/daily-walk-time.entity.ts
  backend/src/daily-walk-time/daily-walk-time.module.ts
  backend/src/daily-walk-time/daily-walk-time.service.ts
  backend/src/dog-walk-day/dog-walk-day.entity.ts
  backend/src/dog-walk-day/dog-walk-day.module.ts
  backend/src/dog-walk-day/dog-walk-day.service.ts
  backend/src/dog/dog.module.ts
  backend/src/dog/dog.service.ts
  backend/src/dog/dogs.module.ts
  backend/src/dog/dogs.service.ts
  backend/src/dog/dto/dog-statistic.dto.ts
  backend/src/dogs/dogs-gender.enum.ts
  backend/src/dogs/dogs.controller.ts
  backend/src/dogs/dogs.entity.ts
  backend/src/dogs/dogs.module.ts
  backend/src/dogs/dogs.service.ts
  backend/src/dogs/dto/dog-statistic.dto.ts
  backend/src/entity/dailyWalkTime.entity.ts
  backend/src/entity/excrements.entity.ts
  backend/src/entity/userDogs.entity.ts
  backend/src/entity/walk-dogs.entity.ts
  backend/src/entity/walk-journals.entity.ts
  backend/src/entity/walk-log-photos.entity.ts
  backend/src/fake/fake.controller.ts
  backend/src/users/user-dogs.entity.ts
  backend/src/users/users.entity.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  backend/src/walk/walk.controller.ts
  backend/src/walk/walk.module.ts
Labels: backend

#128 Infra/DANG 227: DockerFile health Check를 추가하기
  docker-compose-dev.yml
  frontend/Dockerfile
Labels: infra

#129 backend/DANG-226: oauth logut 추가
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/oauth/kakao.service.ts
  backend/src/auth/oauth/naver.service.ts
  backend/src/auth/oauth/oauth.service.interface.ts
  backend/src/users/users.service.ts
Labels: backend

#130 backend/DANG-235: AuthGuard를 global로 추가해서 의존성 해결
  backend/src/auth/auth.module.ts
Labels: backend

#131 backend/DANG-229: req.user 사용하도록 변경, getDogList 구현
  backend/src/dogs/dogs.controller.ts
  backend/src/dogs/dogs.service.ts
  backend/src/users/users.service.ts
Labels: backend

#132 backend/DANG-237: SkipAuthGuard 추가
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/decorators/public.decorator.ts
  backend/src/auth/guards/auth.guard.ts
  backend/src/main.ts
Labels: backend

#133 backend/DANG-239: google에 대한 oauth logout 추가
  backend/src/auth/auth.service.ts
  backend/src/auth/oauth/google.service.ts
  backend/src/auth/oauth/kakao.service.ts
  backend/src/auth/oauth/naver.service.ts
  backend/src/auth/oauth/oauth.service.interface.ts
Labels: backend

#134 backend/DANG-231: oauth deactivate 추가
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/oauth/kakao.service.ts
  backend/src/auth/oauth/naver.service.ts
Labels: backend

#136 backend/DANG-243: 상대 경로인 redirectURI를 full path로 가공하는 코드 추가
  backend/src/auth/auth.controller.ts
Labels: backend

#137 backend/DANG-246: health check api에 SkipAuthGuard 추가
  backend/src/common/health/health.controller.ts
Labels: backend

#138 backend/DANG-250: cors allowedHeaders에 Authorization 추가
  backend/src/main.ts
Labels: backend

#139 frontend/DANG-218: utills(header, storage) 추가
  frontend/src/utils/cookie.ts
  frontend/src/utils/header.ts
  frontend/src/utils/storage.ts
Labels: frontend

#140 frontend/DANG-251: constants 폴더 update
  frontend/src/components/OAuthButton.tsx
  frontend/src/constants/index.ts
  frontend/src/constants/keys.ts
  frontend/src/constants/oauths.ts
Labels: frontend

#142 frontend/DANG-253: 로그인, 로그아웃 기능 추가
  frontend/src/api/auth.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/pages/Login.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/store/authStore.ts
Labels: frontend

#143 frontend/DANG-254: react-query 설정 추가
  frontend/src/App.tsx
  frontend/src/api/queryClient.ts
  frontend/src/types/common.ts
Labels: frontend

#144 Backend/dang 236: journals, excrements, walkPhotos 모듈 추가
  backend/src/app.module.ts
  backend/src/excrements/excrements.module.ts
  backend/src/excrements/excrements.service.ts
  backend/src/journals/journals.controller.ts
  backend/src/journals/journals.module.ts
  backend/src/journals/journals.service.ts
  backend/src/walk-log-photos/walk-log-photos.module.ts
  backend/src/walk-log-photos/walk-log-photos.service.ts
Labels: backend

#141 backend/DANG-244: oauth token 갱신 추가
  backend/src/auth/auth.service.ts
  backend/src/auth/oauth/google.service.ts
  backend/src/auth/oauth/kakao.service.ts
  backend/src/auth/oauth/naver.service.ts
  backend/src/auth/oauth/oauth.service.interface.ts
Labels: backend

#146 backend/DANG-257: Users entity에서 oauthId field에 누락된 unique 조건 추가
  backend/src/users/users.entity.ts
Labels: backend

#147 frontend/DANG-255: 린트에러 수정
  frontend/.eslintrc.json
  frontend/src/hooks/useWeather.ts
  frontend/src/utils/weather.util.ts
Labels: frontend

#148 frontend/DANG-260: useAuth hook 생성(login,lougout,getAccessToken) with React-Query,…
  frontend/src/api/auth.ts
  frontend/src/api/http.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/pages/Profile.tsx
  frontend/src/store/authStore.ts
Labels: frontend

#151 backend/DANG-265: Health Controller에 Logger를 추가하라
  backend/src/common/health/health.controller.ts
Labels: backend

#152 frontend/DANG-264: Tailwind 테마에 색상 추가
  frontend/tailwind.config.js
Labels: frontend

#153 frontend/DANG-240: 카카오 api cors 에러수정
  frontend/.eslintrc.json
  frontend/src/api/map.api.ts
  frontend/src/components/home/WeatherInfo.tsx
  frontend/src/hooks/useWeather.ts
Labels: frontend

#154 frontend/DANG-266: Tailwind 테마에서 16진수 색상의 값을 소문자로 변경
  frontend/tailwind.config.js
Labels: frontend

#155 backend/DANG-268: 전역에서 Auth 모듈 사용을 제거하기
  backend/src/app.module.ts
Labels: backend

#156 backend/DANG-269: Auth을 전역으로 사용하고 metrics url만 허용하기
  backend/src/app.module.ts
  backend/src/auth/guards/auth.guard.ts
Labels: backend

#157 backend/DANG-270: 우리 서비스에 가입된 사용자인지 확인하는 api 추가 및 login logic 수정
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
Labels: backend

#158 frontend/DANG-267: shadcn/ui 환경 설정
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/utils/tailwind-class.ts
Labels: frontend

#159 frontend/DANG-273: VSCode 설정 추가
  frontend/.vscode/settings.json
Labels: frontend

#160 backend/DANG-274: dogs/statistics api DTO 속성명 수정
  backend/src/dogs/dogs.controller.ts
  backend/src/dogs/dogs.service.ts
  backend/src/dogs/dto/dog-statistic.dto.ts
Labels: backend

#161 backend/DANG-275: Dogs 엔티티에서 breed_id 1대1 관계에서 다대1관계로 수정
  backend/src/dogs/dogs.entity.ts
Labels: backend

#162 frontend/DANG-255: 날씨 정보 스타일 추가
  frontend/src/components/home/WeatherInfo.tsx
  frontend/src/index.css
  frontend/src/pages/Home.tsx
  frontend/tailwind.config.js
Labels: frontend

#163 frontend/DANG-283: 잘못된 Tailwind 테마 해결
  frontend/tailwind.config.js
Labels: frontend

#164 frontend/DANG-285: 로그인 페이지, Navbar svg파일명 변경 및 경로 src로 변경
  frontend/src/assets/icons/btn-login-google.svg
  frontend/src/assets/icons/btn-login-kakao.svg
  frontend/src/assets/icons/btn-login-naver.svg
  frontend/src/assets/icons/btn-login.svg
  frontend/src/assets/icons/btn-mypage-off.svg
  frontend/src/assets/icons/btn-mypage-on.svg
  frontend/src/assets/icons/btn-walk-off.svg
  frontend/src/assets/icons/btn-walk-on.svg
  frontend/src/assets/icons/ic-signup-asap.svg
  frontend/src/components/LoginAlertModal.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/OAuthButton.tsx
  frontend/src/pages/Login.tsx
Labels: frontend

#166 backend/DANG-238: 추상 리포지토리 클래스 추가
  backend/src/app.module.ts
  backend/src/common/database/abstract.repository.ts
  backend/src/common/database/database.module.ts
  backend/src/entity/excrements.entity.ts
  backend/src/entity/walk-dogs.entity.ts
  backend/src/entity/walk-log-photos.entity.ts
  backend/src/journals/journals.controller.ts
  backend/src/journals/journals.module.ts
  backend/src/journals/journals.service.ts
  backend/src/journals/types/journal-types.ts
  backend/src/journals/walk-jorunals.repository.ts
  backend/src/journals/walk-journals.entity.ts
  backend/src/walk/walk.module.ts
Labels: backend

#167 backend/DANG-288: member를 user로 수정
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
Labels: backend

#168 backend/DANG-289: access token 수명을 12h에서 1h로 변경
  backend/src/auth/token/token.service.ts
Labels: backend

#169 backend/DANG-245: test skip되는 문제 해결
  .github/workflows/pr_labeler_validator.yaml
Labels: backend

#170 frontend/DANG-291: global css추가 및 로그인 페이지 스타일 추가
  frontend/src/App.tsx
  frontend/src/assets/icons/btn-login-google.svg
  frontend/src/assets/icons/ic-google.svg
  frontend/src/assets/icons/ic-kakao.svg
  frontend/src/assets/icons/ic-naver.svg
  frontend/src/assets/icons/ic-signup-asap.svg
  frontend/src/assets/icons/ic-top-cancel.svg
  frontend/src/components/Navbar.tsx
  frontend/src/components/OAuthButton.tsx
  frontend/src/constants/oauths.ts
  frontend/src/index.css
  frontend/src/pages/Login.tsx
  frontend/tailwind.config.js
Labels: frontend

#171 infra/DANG-292: 컨테이너 정리 명령 수정 및 ECR 빌드/배포 스테이지 명칭 변경
  .github/workflows/backend_deploy.yaml
  .github/workflows/frontend_deploy.yaml
Labels: infra

#172 infra/DANG-293: 헬스 체크 명령 간소화, 백엔드 이미지 최적화 및 타임존 설정
  backend/Dockerfile
  frontend/Dockerfile
Labels: infra

#173 frontend/DANG-271: PR 템플릿 수정
  .github/pull_request_template.md
Labels: frontend

#175 infra/DANG-295: Frontend Dockerfile을 스테이지별로 나누기
  .github/workflows/backend_deploy.yaml
  .github/workflows/frontend_deploy.yaml
  docker-compose-dev.yml
  frontend/Dockerfile
Labels: infra

#176 infra/DANG-296: GitActions 컨테이너 삭제 명령어 수정 하기
  .github/workflows/backend_deploy.yaml
  .github/workflows/frontend_deploy.yaml
Labels: infra

#177 frontend/DANG-279: 홈화면 강아지 info 스타일 추가
  frontend/.vscode/ddang.code-snippets
  frontend/src/assets/icons/ellipse-104.svg
  frontend/src/assets/icons/ic-cloudy.svg
  frontend/src/assets/icons/ic-dayclear.svg
  frontend/src/assets/icons/ic-daycloudy.svg
  frontend/src/assets/icons/ic-nightclear.svg
  frontend/src/assets/icons/ic-nightcloudy.svg
  frontend/src/assets/icons/ic-rain.svg
  frontend/src/assets/icons/ic-snow.svg
  frontend/src/assets/icons/ic.svg
  frontend/src/assets/icons/notification.svg
  frontend/src/assets/icons/property1-left.svg
  frontend/src/assets/icons/property1-right.svg
  frontend/src/assets/icons/walk/ellipse-107.svg
  frontend/src/assets/icons/walk/ellipse-108.svg
  frontend/src/assets/icons/walk/group.svg
  frontend/src/assets/icons/walk/walk.svg
  frontend/src/components/common/Avatar.tsx
  frontend/src/components/home/DayIcon.tsx
  frontend/src/components/home/DogCard.tsx
  frontend/src/components/home/DogCardList.tsx
  frontend/src/components/home/Progressbar.tsx
  frontend/src/components/home/WalkIcon.tsx
  frontend/src/components/home/WeatherInfo.tsx
  frontend/src/models/dog.model.ts
  frontend/src/pages/Home.tsx
  frontend/src/utils/format.ts
Labels: frontend

#178 frontend/DANG-297: 홈화면 스타일 수정
  frontend/src/components/Navbar.tsx
  frontend/src/components/home/DogCard.tsx
Labels: frontend

#179 infra/DANG-300: 프론트엔드 이미지 빌드 단계 추가 및 최적화 및 설정 파일 경로 단축
  .github/workflows/backend_deploy.yaml
  .github/workflows/frontend_deploy.yaml
  frontend/Dockerfile
Labels: infra

#180 backend/DANG-301: token 수명 하드 코딩 제거
  backend/src/auth/token/token.service.ts
  backend/src/utils/ms.utils.spec.ts
  backend/src/utils/ms.utils.ts
Labels: backend

#181 infra/DANG-233: Docker 컨테이너 두 대 생성하도록 스크립트를 작성하라
  .github/workflows/backend_deploy.yaml
  backend/src/common/health/health.controller.ts
Labels: infra

#183 backend/DANG-277: WinstonLoggerService의 콘솔 로그 제거, 내장 로거를 WinstonLogger로 대체
  backend/src/common/logger/winstonLogger.module.ts
  backend/src/common/logger/winstonLogger.service.spec.ts
  backend/src/common/logger/winstonLogger.service.ts
  backend/src/dogs/dogs.module.ts
  backend/src/dogs/dogs.service.ts
  backend/src/main.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Labels: backend

#184 frontend/DANG-299: 위도경도가져올떄 생기는 타이밍 문제 해결
  frontend/src/App.tsx
  frontend/src/api/http.ts
  frontend/src/components/home/DogCard.tsx
  frontend/src/components/home/Progressbar.tsx
  frontend/src/hooks/useWeather.ts
  frontend/src/index.css
  frontend/src/utils/geo.ts
Labels: frontend

#185 infra/DANG-310: EC2 Docker 배포 시 컨테이너 삭제하도록 스크립트 작성하기
  .github/workflows/backend_deploy.yaml
Labels: infra

#188 backend/DANG-317: import 문, 주석, 오타 등 코드 정리
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/guards/auth.guard.ts
  backend/src/auth/guards/refreshToken.guard.ts
  backend/src/auth/oauth/oauth.module.ts
  backend/src/auth/token/token.service.ts
  backend/src/breed/breed.module.ts
  backend/src/breed/breed.service.ts
  backend/src/common/database/abstract.repository.ts
  backend/src/common/logger/winstonLogger.module.ts
  backend/src/common/logger/winstonLogger.service.ts
  backend/src/daily-walk-time/daily-walk-time.module.ts
  backend/src/daily-walk-time/daily-walk-time.service.ts
  backend/src/dog-walk-day/dog-walk-day.module.ts
  backend/src/dog-walk-day/dog-walk-day.service.ts
  backend/src/dogs/dogs.controller.ts
  backend/src/dogs/dogs.entity.ts
  backend/src/dogs/dogs.module.ts
  backend/src/dogs/dogs.service.ts
  backend/src/entity/excrements.entity.ts
  backend/src/entity/walk-log-photos.entity.ts
  backend/src/fake/fake.controller.ts
  backend/src/fake/fake.module.ts
  backend/src/fixture/users.fixture.ts
  backend/src/journals/journals.controller.ts
  backend/src/journals/journals.module.ts
  backend/src/journals/journals.service.ts
  backend/src/journals/walk-journals.entity.ts
  backend/src/journals/walk-journals.repository.ts
  backend/src/main.ts
  backend/src/users/user-dogs.entity.ts
  backend/src/users/users.entity.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  backend/src/users/users.spec.ts
  backend/src/walk/dtos/walk-command.dto.ts
  backend/src/walk/walk.controller.ts
  backend/src/walk/walk.module.ts
Labels: backend

#189 infra/DANG-320: 백엔드 배포 스크립트 개선 및 컨테이너 이름 설정
  .github/workflows/backend_deploy.yaml
Labels: infra

#190 infra/DANG-323: 백엔드 배포 워크플로우 서버 포트 동일하게 하게 하기
  .github/workflows/backend_deploy.yaml
Labels: infra

#191 frontend/DANG-322: LoginBottomSheet 관련 로직 수정
  frontend/src/App.tsx
  frontend/src/components/LoginAlertModal.tsx
  frontend/src/components/LoginBottomSheet.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/OAuthButton.tsx
  frontend/src/index.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Join.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/store/modalStateStore.ts
Labels: frontend

#192 infra/DANG-325: Docker container 명령어를 수정하라
  .github/workflows/frontend_deploy.yaml
  frontend/src/vitest.test.ts
Labels: infra

#194 frontend/DANG-327: Frontend 배포 위한 테스트 코드 작성하기
  frontend/src/vitest.test.ts
Labels: frontend

#195 frontend/DANG-330: 프론트 엔드 배포 및 테스트 코드 추가
  .github/workflows/frontend_deploy.yaml
  frontend/src/vitest.test.ts
Labels: frontend

#196 infra/DANG-331: EC2 Docker 배포 시 env 파일을 생성 및 이미지 빌드 최적화
  .dockerignore
  .github/workflows/frontend_deploy.yaml
  frontend/Dockerfile
Labels: infra

#197 backend/DANG-306: REQUEST/RESPONSE 기록하는 로그 인터셉터 구현
  backend/src/app.module.ts
  backend/src/common/interceptor/logging.interceptor.ts
  backend/src/common/logger/winstonLogger.service.ts
Labels: backend

#198 infra/DANG-332: 프론트엔드 이미지 Build 단계에 NODE_ENV 추가 및 .env 파일 참조하도록 수정하기
  .github/workflows/frontend_deploy.yaml
  frontend/Dockerfile
Labels: infra

#199 backend/DANG-337: WinstonLoggerService에서 환경 변수 가져올때 production→prod로 변경
  backend/src/common/interceptor/logging.interceptor.ts
  backend/src/common/logger/winstonLogger.service.ts
  backend/src/main.ts
Labels: backend

#200 frontend/DANG-339: Home , LoginAlertModal 관련 왼쪽 여백 처리
  frontend/src/App.tsx
  frontend/src/pages/Home.tsx
Labels: frontend

#202 frontend/DANG-343: isJoinning 상태 삭제
  frontend/src/App.tsx
  frontend/src/components/LoginAlertModal.tsx
  frontend/src/components/LoginBottomSheet.tsx
  frontend/src/components/OAuthButton.tsx
  frontend/src/store/loginBottomSheetStore.ts
Labels: frontend

#203 frontend/DANG-345: CheckBox 공통 컴포넌트 생성
  frontend/src/components/common/CheckBox.tsx
  frontend/src/pages/Join.tsx
Labels: frontend

#204 infra/DANG-329: PR 시 Status를 Reviewing으로 업데이트하도록 자동화 코드 추가
  .github/workflows/link_pr_to_ticket.yaml
Labels: infra

#205 infra/DANG-326: PR merge 시 Status를 Done으로 업데이트하도록 하는 GitHub Actions 추가
  .github/workflows/change_ticket_status_done.yaml
Labels: infra

#206 backend/DANG-334: 기존 코드 추상 DB 클래스 사용하도록 변경 (User 제외)
  backend/src/breed/breed.module.ts
  backend/src/breed/breed.repository.ts
  backend/src/breed/breed.service.ts
  backend/src/common/database/abstract.repository.ts
  backend/src/common/database/database.module.ts
  backend/src/daily-walk-time/daily-walk-time.module.ts
  backend/src/daily-walk-time/daily-walk-time.repository.ts
  backend/src/daily-walk-time/daily-walk-time.service.ts
  backend/src/dog-walk-day/dog-walk-day.module.ts
  backend/src/dog-walk-day/dog-walk-day.repository.ts
  backend/src/dog-walk-day/dog-walk-day.service.ts
  backend/src/dogs/dogs.controller.ts
  backend/src/dogs/dogs.module.ts
  backend/src/dogs/dogs.repository.ts
  backend/src/dogs/dogs.service.ts
Labels: backend

#207 infra/DANG-323: Github Action Build 시 env.file을 생성하도록 스크립트 작성하라
  .github/workflows/frontend_deploy.yaml
  frontend/src/vitest.test.ts
Labels: infra

#209 frontend/DANG-333: 공통 컴포넌트에 구분선 추가
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/Divider.tsx
Labels: frontend

#210 infra/DANG-348: 프론트엔드 및 백엔드 env.prod 분리하기
  .github/workflows/backend_deploy.yaml
  .github/workflows/frontend_deploy.yaml
  backend/src/breed/breed.spec.ts
  frontend/src/vitest.test.ts
Labels: infra

#211 infra/DANG-234: env 파일 경로를 각 폴더별로 분리하라
  .github/workflows/backend_deploy.yaml
  .github/workflows/frontend_deploy.yaml
  backend/src/dogs/dogs.spec.ts
  frontend/src/vitest.test.ts
Labels: infra

#208 backend/DANG-347: 필요 산책량 잘못 가져오는 버그 수정
  backend/src/dogs/dogs.service.ts
Labels: backend

#212 infra/DANG-350: 폴더가 존재하지 않으면 생성하도록 스크립트를 작성해라
  .github/workflows/backend_deploy.yaml
  .github/workflows/frontend_deploy.yaml
  backend/src/dog-walk-day/dog-walk-day.spec.ts
  frontend/src/vitest.test.ts
Labels: infra

#213 infra/DANG-352: 기존 파일에 append가 아닌 overwrite 하도록 shellscript를 작성하라
  .github/workflows/backend_deploy.yaml
  .github/workflows/frontend_deploy.yaml
  backend/src/dog-walk-day/dog-walk-day.spec.ts
  frontend/src/vitest.test.ts
Labels: infra

#214 frontend/DANG-349: 공통 컴포넌트에서 import 방식 변경
  frontend/src/components/common/Button.tsx
  frontend/src/components/common/Divider.tsx
Labels: frontend

#216 frontend/DANG-354: currentPage ‘/join’일때 Navbar, LoginBottomSheet 없애기
  frontend/src/App.tsx
  frontend/src/pages/Join.tsx
Labels: frontend

#217 backend/DANG-335: DB module의 synchronize option을 prod일 때는 false가 되도록 수정
  backend/src/common/database/database.module.ts
Labels: backend

#218 frontend/DANG-304: 홈화면 블러치리 수정 및 top bar 공통 컴포넌트 추가
  frontend/src/api/map.ts
  frontend/src/api/weather.ts
  frontend/src/components/Navbar.tsx
  frontend/src/components/common/Topbar.tsx
  frontend/src/components/home/DogCard.tsx
  frontend/src/components/home/DogCardList.tsx
  frontend/src/components/home/WeatherInfo.tsx
  frontend/src/constants/style.ts
  frontend/src/hooks/useWeather.ts
  frontend/src/pages/Home.tsx
  frontend/src/utils/weather.ts
  frontend/src/utils/wether.test.ts
Labels: frontend

#220 backend/DANG-360: NODE_ENV production에서 prod로 수정
  backend/src/auth/auth.controller.ts
Labels: backend

#221 backend/DANG-367: walk-journals -> journals, walk-dogs -> journals-dogs로 테이블명 변경
  backend/src/entity/excrements.entity.ts
  backend/src/entity/walk-log-photos.entity.ts
  backend/src/journals/journals-dogs.entity.ts
  backend/src/journals/journals.entity.ts
  backend/src/journals/journals.module.ts
  backend/src/journals/journals.repository.ts
  backend/src/journals/journals.service.ts
Labels: backend

#222 backend/DANG-369: checkDogOwnership 함수 로직 수정
  backend/src/users/users.service.ts
Labels: backend

#223 infra/DANG-370: use NODE_ENV=production for production build
  frontend/package.json
Labels: infra

#224 backend/DANG-371: Serialize 데코레이터에 excludeExtraneousValues 속성 추가
  backend/src/common/interceptor/serialize.interceptor.ts
  backend/src/journals/journals-dto.ts
Labels: backend

#225 backend/DANG-356: Users module이 abstract Repository 사용하도록 변경
  backend/src/auth/auth.service.ts
  backend/src/common/database/abstract.repository.ts
  backend/src/dogs/dogs.module.ts
  backend/src/fixture/users.fixture.ts
  backend/src/users-dogs/users-dogs.entity.ts
  backend/src/users-dogs/users-dogs.module.ts
  backend/src/users-dogs/users-dogs.repository.ts
  backend/src/users-dogs/users-dogs.service.ts
  backend/src/users/types/user-types.ts
  backend/src/users/users.entity.ts
  backend/src/users/users.module.ts
  backend/src/users/users.repository.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Labels: backend

#226 infra/DANG-370: 프론트엔드 환경 변수 관리 의존성 패키지 추가
  frontend/package-lock.json
  frontend/package.json
Labels: infra

#227 frontend/DANG-353: 산책가능한 강아지 가져오는 바텀시트 레이아웃 추가
  frontend/.vscode/ddang.code-snippets
  frontend/src/assets/icons/property1-check-off.svg
  frontend/src/assets/icons/property1-check-on.svg
  frontend/src/assets/icons/walk/frame-5058.svg
  frontend/src/components/common/Avatar.tsx
  frontend/src/components/common/Topbar.tsx
  frontend/src/components/walk/DogBottomSheet.tsx
  frontend/src/components/walk/DogCheckBox.tsx
  frontend/src/components/walk/Map.tsx
  frontend/src/components/walk/WalkHeader.tsx
  frontend/src/components/walk/WalkInfo.tsx
  frontend/src/components/walk/WalkNavbar.tsx
  frontend/src/index.tsx
  frontend/src/pages/Walk.tsx
  frontend/src/store/walkStore.ts
Labels: frontend

#228 infra/DANG-375: Github Actions에 build 스크립트를 변경하라
  .github/workflows/frontend_deploy.yaml
Labels: infra

#229 infra/DANG-376: 프론트 테스트 코드를 작성하라
  frontend/src/vitest.test.ts
Labels: infra

#231 backend/DANG-382: walk-log-photos -> journal-photos로 테이블명 변경
  backend/src/entity/journal-photos.entity.ts
Labels: backend

#232 frontend/DANG-384: manifest.json Syntax error 오류를 해결하라
  frontend/public/index.html
Labels: frontend

#233 frontend/DANG-316: 약관동의화면 다음단계버튼 생성
  frontend/src/pages/Join.tsx
Labels: frontend

#236 backend/DANG-372: login api 수정 및 signin api 추가
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/common/database/abstract.repository.ts
  backend/src/users/users.entity.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Labels: backend

#237 frontend/DANG-388: 로그인, 회원가입 api 구현
  frontend/src/api/auth.ts
  frontend/src/components/LoginBottomSheet.tsx
  frontend/src/components/OAuthButton.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/pages/Join.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/utils/oauth.ts
Labels: frontend

#239 frontend/DANG-248: SVGR 환경 설정
  frontend/package-lock.json
  frontend/package.json
  frontend/svgo.config.cjs
Labels: frontend

#240 frontend/DANG-392: 구글로그인 문제 해결
  frontend/src/utils/oauth.ts
Labels: frontend

#242 frontend/DANG-314: 약관동의화면 디자인
  frontend/src/pages/Agreements.tsx
Labels: frontend

#243 infra/DANG-394: window 전역 객체 사용하여 env 파일 값 호출하기
  frontend/public/index.html
  frontend/src/api/weather.ts
  frontend/src/typed/env.d.ts
  frontend/tsconfig.json
Labels: infra

#244 backend/DANG-383: journal-photos 모듈 구현
  backend/src/app.module.ts
  backend/src/entity/journal-photos.entity.ts
  backend/src/excrements/excrements.entity.ts
  backend/src/excrements/excrements.repository.ts
  backend/src/excrements/types/excrements.enum.ts
  backend/src/journal-photos/journal-photos.entity.ts
  backend/src/journal-photos/journal-photos.module.ts
  backend/src/journal-photos/journal-photos.repository.ts
  backend/src/journal-photos/journal-photos.service.ts
  backend/src/journals/journals.module.ts
Labels: backend

#245 frontend/DANG-379: 아이콘 컴포넌트 Check 구현
  frontend/src/components/icon/Check.tsx
Labels: frontend

#247 infra/DANG-400: 백엔드 CORS 설정 EC2 URL 허용하기
  backend/src/main.ts
Labels: infra

#249 infra/DANG-401: 프론트엔드 백엔드 Auth 리다이렉트 CORS 허용
  backend/src/main.ts
  frontend/src/api/http.ts
  frontend/src/utils/oauth.ts
Labels: infra

#250 frontend/DANG-364: walkinfo 컴포넌트 추가
  frontend/src/components/walk/WalkHeader.tsx
  frontend/src/components/walk/WalkInfo.tsx
  frontend/src/hooks/useGeolocation.ts
  frontend/src/models/location.model.ts
  frontend/src/pages/Walk.tsx
  frontend/src/store/walkStore.ts
  frontend/src/utils/format.test.ts
  frontend/src/utils/format.ts
  frontend/src/utils/geo.ts
Labels: frontend

#251 frontend/DANG-358: 공통 컴포넌트 CheckBox2 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/Checkbox2.tsx
Labels: frontend

#252 infra/DANG-404: KakaoMap 환경 변수를 window.ENV으로 변경하라
  frontend/src/api/map.ts
Labels: infra

#253 frontend/DANG-407: 공통 컴포넌트 Checkbox2 수정
  frontend/src/components/common/Checkbox2.tsx
Labels: frontend

#254 backend/DANG-355: 강아지 등록, 삭제, 정보 수정 api 추가
  backend/src/breed/breed.service.ts
  backend/src/daily-walk-time/daily-walk-time.entity.ts
  backend/src/daily-walk-time/daily-walk-time.service.ts
  backend/src/dog-walk-day/dog-walk-day.service.ts
  backend/src/dogs/dogs.controller.ts
  backend/src/dogs/dogs.entity.ts
  backend/src/dogs/dogs.module.ts
  backend/src/dogs/dogs.service.ts
  backend/src/dogs/dto/dog.dto.ts
  backend/src/excrements/excrements.entity.ts
  backend/src/journals/journals-dogs.entity.ts
Labels: backend

#255 frontend/DANG-408: 가입관련 icon 추가
  frontend/src/assets/icons/ic-select-photo.svg
  frontend/src/assets/icons/ic-sex-femal.svg
  frontend/src/assets/icons/ic-sex-male.svg
  frontend/src/assets/icons/ic-top-back.svg
Labels: frontend

#259 frontend/DANG-413: LoginBottomSheet duration-200 수정
  frontend/src/App.tsx
Labels: frontend

#260 frontend/DANG-416: Oauth 로그인 클릭후 딜레이 주기
  frontend/src/components/OAuthButton.tsx
Labels: frontend

#261 frontend/DANG-409: 가입중 반려견 유무 페이지 디자인
  frontend/src/pages/JoinStep/PetOwner.tsx
Labels: frontend

#262 frontend/DANG-410: 가입중 강아지정보입력 페이지1 디자인
  frontend/src/pages/JoinStep/DogRegister1.tsx
Labels: frontend

#264 frontend/DANG-412: Join페이지 레이아웃
  frontend/src/components/common/CheckBox.tsx
  frontend/src/pages/Agreements.tsx
  frontend/src/pages/Join.tsx
  frontend/src/pages/JoinStep/Agreements.tsx
Labels: frontend

#265 frontend/DANG-418: Home.tsx 로그인 기능 추가
  frontend/src/pages/Home.tsx
Labels: frontend

#266 backend/DANG-415: 사용자가 주인이 아닌 강아지에 대한 요청을 거르는 guard 추가
  backend/src/dogs/dogs.controller.ts
  backend/src/dogs/guards/authDog.guard.ts
Labels: backend

#267 backend/DANG-391: Excrements 모듈 구현
  backend/src/entity/excrements.entity.ts
  backend/src/excrements/excrements.entity.ts
  backend/src/excrements/excrements.module.ts
  backend/src/excrements/excrements.service.ts
  backend/src/journals/journals.controller.ts
  backend/src/journals/journals.module.ts
Labels: backend

#268 backend/DANG-368: Request log format에 oauthId 추가
  backend/src/common/interceptor/logging.interceptor.ts
Labels: backend

#269 backend/DANG-433: UsersDogs dogId에 onDelete 추가
  backend/src/dogs/dogs.controller.ts
  backend/src/dogs/dogs.service.ts
  backend/src/users-dogs/users-dogs.entity.ts
Labels: backend

#270 backend/DANG-436: Dogs birth field에 null option 추가
  backend/src/dogs/dogs.entity.ts
  backend/src/dogs/dto/dog.dto.ts
Labels: backend

#271 infra/DANG-439: 기존 프론트엔드 환경 변수 스크립트 개선
  frontend/docker-entrypoint.sh
Labels: infra

#273 backend/DANG-441: Dogs birth column error 해결
  backend/src/dogs/dogs.entity.ts
  backend/src/dogs/dto/dog.dto.ts
Labels: backend

#275 backend/DANG-446: 데이터베이스 생성 변경 될 때 업데이트를 하라
  backend/src/common/database/database.module.ts
Labels: backend

#277 backend/DANG-437: 배열에 특정 요소 또는 특정 배열이 모두 포함되어있는 검사하는 로직 함수로 분리
  backend/src/dogs/guards/authDog.guard.ts
  backend/src/users/users.service.ts
  backend/src/utils/utilityFUnctions.utils.ts
Labels: backend

#278 frontend/DANG-449: 로그인 버그 fix
  frontend/src/hooks/useAuth.ts
Labels: frontend

#281 frontend/DANG-258: useWeather 리팩토링
  frontend/src/api/weather.ts
  frontend/src/assets/icons/camera.svg
  frontend/src/assets/icons/pause.svg
  frontend/src/assets/icons/poop.svg
  frontend/src/assets/icons/walk/walk.svg
  frontend/src/components/common/BottomSheet.tsx
  frontend/src/components/home/DogCard.tsx
  frontend/src/components/home/WalkIcon.tsx
  frontend/src/components/home/WeatherInfo.tsx
  frontend/src/components/walk/DogBottomSheet.tsx
  frontend/src/components/walk/Map.tsx
  frontend/src/components/walk/WalkNavbar.tsx
  frontend/src/constants/style.ts
  frontend/src/hooks/useAddressAndAirgrade.ts
  frontend/src/hooks/useGeolocation2.ts
  frontend/src/hooks/useSunsetSunrise.ts
  frontend/src/hooks/useWeather.ts
  frontend/src/models/weather.model.ts
  frontend/src/pages/Walk.tsx
  frontend/src/store/walkStore.ts
  frontend/src/utils/format.ts
  frontend/src/utils/geo.test.ts
  frontend/src/utils/geo.ts
  frontend/src/utils/weather.ts
Labels: frontend

#282 frontend/DANG-438: Checkbox2에 아이콘을 바꾸는 기능 추가
  frontend/src/components/common/Checkbox2.tsx
Labels: frontend

#283 backend/DANG-452: dogs controller에서 AuthDogGuard를 적용하지 않은 endpoint에도 AuthDogGuard가 적용되는 문제 해결하기
  backend/src/dogs/dogs.controller.ts
Labels: backend
