Repository dangdangwalk/dangdang-walk, pull requests merged in 2024-04, with the labels that each got.

#3 Vitest 테스팅 프레임워크에서 Jest 테스팅 프레임워크로 변경하기
  backend/.swcrc
  backend/dangdang-walk.sqlite
  backend/jest.config.cjs
  backend/nest-cli.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.module.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/test/setup.ts
  backend/vitest.config.e2e.ts
  backend/vitest.config.ts
Labels: enviroment

#8 Backend/dang 23
  .gitignore
  backend/.DS_Store
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/common/logger/wiinstonLogger.service.spec.ts
  backend/src/common/logger/winstonLogger.module.ts
  backend/src/common/logger/winstonLogger.service.ts
  backend/src/main.ts
  backend/src/setting.ts
  backend/src/users/users.controller.spec.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
Labels: documentation, backend

#12 Frontend/dang 51: Vitest 설정
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/page.test.tsx
  frontend/vitest.config.ts
Labels: frontend

#32 docs: 오타 수정 (Work -> Walk) 일부러 제목 convention 안 지키기
  docs/openapi.yaml
Labels: backend

#33 backend/DANG-103: GitHub Actions workflow 프런트엔드 배포 단계 추가하기
  .github/workflows/frontend_deploy.yaml
Labels: backend

#36 frontend/DANG-109: 프론트엔드 GitAction 스크립트 에러 수정하라
  .github/workflows/frontend_deploy.yaml
Labels: frontend

#34 frontend/DANG-105: CRLF 문제 해결하기
  .gitattributes
  backend/.prettierrc
  frontend/.prettierrc
Labels: frontend

#37 fix: frontend GitAction 조건문을 제거하라
  .github/workflows/frontend_deploy.yaml
Labels: frontend

#40 backend/DANG-112: GitAction Docker 이미지 경로 문제 수정하기
  .github/workflows/frontend_deploy.yaml
Labels: backend

#39 frontend/DANG-88: 통신 확인용 페이지와 버튼을 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api-test/page.tsx
Labels: frontend

#44 frontend/DANG-116: frontend health api check 오류 수정
  backend/package-lock.json
  frontend/src/app/api-test/page.tsx
Labels: frontend

#45 infra/DANG-117: GitAction deploy 스크립트를 수정하라
  .github/workflows/frontend_deploy.yaml
Labels: infra

#47 frontend/DANG-119: Frontend GitActions 스크립트 리팩터링하기
  .github/workflows/frontend_ci.yaml
  .github/workflows/frontend_deploy.yaml
Labels: frontend

#49 frontend/DANG-120: 경로 별칭 관련 설정
  frontend/.vscode/settings.json
Labels: frontend

#48 backend/DANG-113: ECR 배포 스크립트 작성 및 ESLint 에러를 해결하기
  .github/workflows/backend_deploy.yaml
  Makefile
  backend/.eslintrc.js
Labels: backend

#50 Infra/DANG-121 컨테이너에 log directory 복사하도록 권한 설정을 허용하라
  .gitignore
  backend/.DS_Store
  backend/Dockerfile
Labels: infra

#51 Backend/dang 122
  backend/dangdang-walk.sqlite
  backend/package-lock.json
  backend/package.json
  backend/src/users/dtos/is-member.dto.ts
  backend/src/users/user-roles.enum.ts
  backend/src/users/users.controller.spec.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.entity.test.ts
  backend/src/users/users.entity.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.ts
Labels: backend

#54 backend/DANG-124: GitHub Actions branch 이름 및 PR 제목 규칙 강제하도록 업데이트
  .github/labeler.yml
  .github/workflows/pr_labeler_validator.yaml
Labels: backend

#35 frontend/DANG-86: 로그인 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/api/auth/authOptions.ts
  frontend/src/app/api/auth/signin/components/Signin.tsx
  frontend/src/app/api/auth/signin/page.tsx
  frontend/src/app/components/Navbar.tsx
  frontend/src/app/context/AuthContext.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/walk/page.tsx
  frontend/src/middleware.ts
Labels: frontend

#55 frontend/DANG-136: axios 패키지 삭제, fetch로 로그인 api 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api-test/page.tsx
  frontend/src/app/api/auth/authOptions.ts
Labels: frontend

#52 backend/DANG-125: GitActions Docker Build 문제를 해결하라
  .github/workflows/backend_ci.yaml
  .github/workflows/frontend_deploy.yaml
  backend/Dockerfile
Labels: backend

#57 infra/DANG-137: BackEnd GitActions 개선하기
  .github/workflows/backend_ci.yaml
  .github/workflows/backend_deploy.yaml
  backend/src/users/users.controller.ts
Labels: infra

#59 infra/DANG-138: Deploy 시 기존 Docker를 삭제하는 로직을 추가하라
  .github/workflows/backend_deploy.yaml
Labels: infra

#60 frontend/DANG-146: react 프로젝트 생성 with vite
  frontend/.eslintrc.cjs
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.husky/pre-commit
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/.vscode/settings.json
  frontend/Dockerfile
  frontend/README.md
  frontend/index.html
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/api/auth/authOptions.ts
  frontend/src/app/api/auth/signin/components/Signin.tsx
  frontend/src/app/api/auth/signin/page.tsx
  frontend/src/app/components/Navbar.tsx
  frontend/src/app/context/AuthContext.tsx
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/walk/page.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/middleware.ts
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
Labels: frontend

#58 backend/DANG-128: 회원가입 로직 랜덤한 닉네임 추가
  .gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/users/users.controller.ts
  backend/src/users/users.entity.ts
  backend/src/users/users.service.ts
  backend/src/utils/hash.utils.ts
Labels: backend

#62 infra/DANG-143: edit trigger 시 title 수정 때에만 job이 실행되도록 조건 추가
  .github/workflows/pr_labeler_validator.yaml
Labels: infra

#63 frontend/DANG-147: react 프로젝트 생성 with CRA
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/main.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: frontend

#65 frontend/DANG-148: craco, craco-alias 설정 추가
  frontend/craco.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/tsconfig.json
  frontend/tsconfig.paths.json
Labels: frontend

#67 frontend/DANG-150: @tanstack/react-query, @tanstack/eslint-plugin-query dependency 추가
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#68 frontend/DANG-151: tailwind postcss autoprefixer 추가
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.css
  frontend/tailwind.config.js
Labels: frontend

#69 frontend/DANG-140: global css, footer navbar 러프하게 구현 및 설정
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/icons/navbar/mypage_off.svg
  frontend/src/assets/icons/navbar/mypage_on.svg
  frontend/src/assets/icons/navbar/walk_off.svg
  frontend/src/assets/icons/navbar/walk_on.svg
  frontend/src/components/Navbar.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Profile.tsx
Labels: frontend

#70 Infra/DANG-139: 프론트엔드 새로운 환경에 Docker와 의존성 설치를 추가하라
  backend/Dockerfile
  frontend/Dockerfile
  frontend/docker-entrypoint.sh
  frontend/package-lock.json
  frontend/package.json
Labels: infra

#71 frontend/DANG-154: prettier 설정 및 format
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/craco.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/reportWebVitals.ts
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/tsconfig.paths.json
Labels: frontend

#72 infra/DANG-152: FrontEnd Deploy Docker 삭제에러를 에러를 해결하라
  .github/workflows/frontend_deploy.yaml
Labels: infra

#73 infra/DANG-164: 워크플로우 업데이트 (캐싱, Node.js 버전, 이미지 정리)
  .github/workflows/backend_deploy.yaml
  .github/workflows/frontend_ci.yaml
  .github/workflows/frontend_deploy.yaml
  backend/Dockerfile
Labels: infra

#74 backend/DANG-163: hash.utils 경로 절대경로 -> 상대경로로 변경
  backend/src/users/users.service.ts
Labels: backend

#79 backend/DANG-161: 엔티티 정의 추가
  backend/src/entity/breed.entity.ts
  backend/src/entity/dogWalkDay.entity.ts
  backend/src/entity/dogs.entity.ts
  backend/src/entity/excrements.entity.ts
  backend/src/entity/userDogs.entity.ts
  backend/src/entity/walkDogs.entity.ts
  backend/src/entity/walkJournals.entity.ts
  backend/src/entity/walkLogPhotos.entity.ts
  backend/tsconfig.json
Labels: backend

#81 backend/DANG-170: 엔티티 속성 수정 / Users 엔티티 업데이트, CRUD 수정
  backend/src/entity/dogWalkDay.entity.ts
  backend/src/entity/dogs-gender.enum.ts
  backend/src/entity/dogs.entity.ts
  backend/src/entity/userDogs.entity.ts
  backend/src/entity/walkJournals.entity.ts
  backend/src/users/dtos/check-member.dto.ts
  backend/src/users/dtos/is-member.dto.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.entity.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.ts
Labels: backend

#83 frontend/DANG-159: Oauth로그인: redirect url 연결 시켜주기
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/OAuthButton.tsx
  frontend/src/constants/oauthList.ts
  frontend/src/index.tsx
  frontend/src/pages/Login.tsx
Labels: frontend

#86 frontend/DANG-175: husky pre-commit git hook script 추가
  frontend/.husky/pre-commit
Labels: frontend

#84 backend/DANG-142: 로그인까지 구현 (DB X)
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/google/google.controller.ts
  backend/src/auth/google/google.service.ts
  backend/src/auth/kakao/kakao.controller.ts
  backend/src/auth/kakao/kakao.service.ts
  backend/src/auth/naver/naver.controller.ts
  backend/src/auth/naver/naver.service.ts
Labels: backend

#87 backend/DANG-182: 불필요한 코드 제거 및 token service 분리
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/google/google.controller.ts
  backend/src/auth/google/google.service.ts
  backend/src/auth/kakao/kakao.controller.ts
  backend/src/auth/kakao/kakao.service.ts
  backend/src/auth/naver/naver.controller.ts
  backend/src/auth/naver/naver.service.ts
  backend/src/auth/token/token.service.ts
Labels: backend

#89 infra/DANG-181: GitHub Actions validator skip 방지
  .github/workflows/pr_labeler_validator.yaml
Labels: infra

#90 frontend/DANG-176: navbar 수정
  frontend/src/assets/icons/navbar/mypage_off.svg
  frontend/src/assets/icons/navbar/mypage_on.svg
  frontend/src/assets/icons/navbar/walk_off.svg
  frontend/src/assets/icons/navbar/walk_on.svg
  frontend/src/components/Navbar.tsx
Labels: frontend

#91 backend/DANG-183: 하루 산책량 테이블 추가, journals 엔티티에 title 추가
  backend/src/entity/dailyWalkTime.entity.ts
  backend/src/entity/dogs.entity.ts
  backend/src/entity/userDogs.entity.ts
  backend/src/entity/walkDogs.entity.ts
  backend/src/entity/walkJournals.entity.ts
  backend/src/entity/walkLogPhotos.entity.ts
Labels: backend
