Repository dangdangwalk/dangdang-walk, pull requests merged in 2024-06, with the labels that each got.

#601 backend/DANG-899: journals를 생성할 때 사용하던 JournalData 타입 제거
  backend/src/journals/journals.service.ts
  backend/src/journals/types/journal-data.type.ts
Labels: 💾backend

#602 infra/DANG-900: Backend/Frontend Readme 수정
  README.md
  backend/README.md
  frontend/README.md
Labels: 🌿infra

#603 infra/DANG-901: Frontend Readme logo link 수정
  frontend/README.md
Labels: 🌿infra

#605 frontend/DANG-904: 비로그인상태에서 getRefreshToken api 호출하지 않기
  frontend/src/api/auth.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/store/authStore.ts
Labels: 🖥️frontend

#606 frontend/DANG-905: useDogsStatistic: getRefreshToken 의존성 (enabled) 삭제
  frontend/src/hooks/useDogsStatistic.ts
  frontend/src/pages/Home.tsx
Labels: 🖥️frontend

#607 frontend/DANG-906: 비로그인 상태에서 호출되는 profile, 강아지 목록 api 호출하지 않기
  frontend/src/api/auth.ts
  frontend/src/api/dogs.ts
  frontend/src/hooks/useDog.ts
  frontend/src/pages/Profile.tsx
Labels: 🖥️frontend

#608 backend/DANG-907: 사용되지 않는 코드 제거
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/breed/breed.service.ts
  backend/src/dog-walk-day/dog-walk-day.service.ts
  backend/src/dogs/dogs.service.ts
  backend/src/excrements/excrements.service.ts
  backend/src/journal-photos/journal-photos.service.ts
  backend/src/journals-dogs/journals-dogs.service.ts
  backend/src/journals/journals.service.ts
  backend/src/s3/s3.service.ts
  backend/src/today-walk-time/today-walk-time.service.ts
  backend/src/users-dogs/users-dogs.service.ts
  backend/src/users/users.service.ts
  backend/src/walk/walk.service.ts
Labels: 💾backend

#610 backend/DANG-910: token process.env 문제 해결하기
  backend/src/auth/interceptors/cookie.interceptor.ts
  backend/src/auth/token/token.service.ts
Labels: 💾backend

#609 backend/DANG-909: ESLint 설정을 추가하라
  backend/.eslintrc.js
  backend/package.json
  backend/src/auth/auth.service.ts
  backend/src/auth/guards/auth.guard.ts
  backend/src/auth/token/token.service.ts
  backend/src/common/database/database.module.ts
  backend/src/common/interceptors/logging.interceptor.ts
  backend/src/dog-walk-day/dog-walk-day.spec.ts
  backend/src/utils/ms.util.ts
Labels: 💾backend

#611 backend/DANG-911: 마지막에 콤마를 추가하도록 prettier를 수정하라
  backend/.prettierrc
  backend/src/auth/auth.service.ts
  backend/src/auth/guards/auth.guard.ts
  backend/src/auth/guards/refresh-token.guard.ts
  backend/src/auth/interceptors/cookie.interceptor.ts
  backend/src/auth/oauth/google.service.ts
  backend/src/auth/oauth/kakao.service.ts
  backend/src/auth/oauth/naver.service.ts
  backend/src/auth/token/token.service.ts
  backend/src/breed/breed.repository.ts
  backend/src/common/database/abstract.repository.ts
  backend/src/common/database/database.module.ts
  backend/src/common/interceptors/logging.interceptor.ts
  backend/src/common/interceptors/prometheus.interceptor.ts
  backend/src/common/interceptors/serialize.interceptor.ts
  backend/src/common/logger/winstonLogger.service.ts
  backend/src/dog-walk-day/dog-walk-day.repository.ts
  backend/src/dog-walk-day/dog-walk-day.service.ts
  backend/src/dogs/dogs.controller.ts
  backend/src/dogs/dogs.repository.ts
  backend/src/dogs/dogs.service.ts
  backend/src/dogs/guards/auth-dog.guard.ts
  backend/src/excrements/excrements.repository.ts
  backend/src/excrements/excrements.service.ts
  backend/src/journal-photos/journal-photos.repository.ts
  backend/src/journal-photos/journal-photos.service.ts
  backend/src/journals-dogs/journals-dogs.repository.ts
  backend/src/journals/guards/auth-journal.guard.ts
  backend/src/journals/journals.controller.ts
  backend/src/journals/journals.repository.ts
  backend/src/journals/journals.service.ts
  backend/src/s3/s3.controller.ts
  backend/src/s3/s3.service.ts
  backend/src/statistics/pipes/period-validation.pipe.ts
  backend/src/statistics/statistics.controller.ts
  backend/src/statistics/statistics.service.ts
  backend/src/today-walk-time/today-walk-time.repository.ts
  backend/src/today-walk-time/today-walk-time.service.ts
  backend/src/users-dogs/users-dogs.repository.ts
  backend/src/users/decorators/user.decorator.ts
  backend/src/users/users.repository.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  backend/src/utils/manipulate.util.ts
  backend/src/utils/ms.util.ts
  backend/src/walk/interceptors/walk-command.interceptor.ts
  backend/src/walk/walk.controller.ts
  backend/src/walk/walk.service.ts
Labels: 💾backend

#612 backend/DANG-915: 산책일지 목록에서 journalId를 리턴하지 않는 버그 수정
  backend/src/utils/manipulate.util.ts
Labels: 💾backend

#613 backend/DANG-913: ERROR 로그에서 원치 않는 메타 데이터 찍히는 버그 해결하기
  backend/src/app.controller.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/guards/auth.guard.ts
  backend/src/auth/guards/oauth-data.guard.ts
  backend/src/auth/guards/refresh-token.guard.ts
  backend/src/auth/oauth/google.service.ts
  backend/src/auth/oauth/kakao.service.ts
  backend/src/auth/oauth/naver.service.ts
  backend/src/common/logger/winstonLogger.service.ts
  backend/src/dogs/dogs.service.ts
  backend/src/dogs/guards/auth-dog.guard.ts
  backend/src/journals/guards/auth-journal.guard.ts
  backend/src/statistics/statistics.service.ts
  backend/src/today-walk-time/today-walk-time.service.ts
Labels: 💾backend

#615 frontend/DANG-903: accessToken 설정을 custom axios interceptor에서 관리하기
  frontend/src/App.tsx
  frontend/src/api/auth.ts
  frontend/src/api/breed.ts
  frontend/src/api/dogs.ts
  frontend/src/api/http.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useBreed.ts
  frontend/src/store/authStore.ts
Labels: 🖥️frontend

#616 frontend/DANG-918: prettier-plugin-tailwindcss 설치 및 prettier 적용
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/BreedSearch.tsx
  frontend/src/components/ImageCropper.tsx
  frontend/src/components/LoginAlertModal.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/NavbarProvider.tsx
  frontend/src/components/OAuthButton.tsx
  frontend/src/components/common/Avatar.tsx
  frontend/src/components/common/BottomSheet.tsx
  frontend/src/components/common/Checkbox2.tsx
  frontend/src/components/common/DefaultProfileImage.tsx
  frontend/src/components/common/Divider.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/common/SelectBox.tsx
  frontend/src/components/common/Spinner.tsx
  frontend/src/components/common/Toast.tsx
  frontend/src/components/common/Topbar.tsx
  frontend/src/components/home/AvailableDogCheck.tsx
  frontend/src/components/home/AvailableDogCheckList.tsx
  frontend/src/components/home/DayIcon.tsx
  frontend/src/components/home/DogCard.tsx
  frontend/src/components/home/DogCardList.tsx
  frontend/src/components/home/Progressbar.tsx
  frontend/src/components/home/RegisterCard.tsx
  frontend/src/components/home/WeatherInfo.tsx
  frontend/src/components/journals/AddImageButton.tsx
  frontend/src/components/journals/CompanionDogSection.tsx
  frontend/src/components/journals/CompanionDogSection2.tsx
  frontend/src/components/journals/CustomCalendar.tsx
  frontend/src/components/journals/IconAndNumberDisplay.tsx
  frontend/src/components/journals/JournalCard.tsx
  frontend/src/components/journals/JournalCardList.tsx
  frontend/src/components/journals/MemoSection.tsx
  frontend/src/components/journals/Navbar.tsx
  frontend/src/components/journals/RemovableImageList.tsx
  frontend/src/components/walk/DogFeceAndUrineCheckList.tsx
  frontend/src/components/walk/Map.tsx
  frontend/src/components/walk/StopToast.tsx
  frontend/src/components/walk/WalkHeader.tsx
  frontend/src/components/walk/WalkInfo.tsx
  frontend/src/components/walk/WalkNavbar.tsx
  frontend/src/pages/DogProfile.tsx
  frontend/src/pages/Health.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Join.tsx
  frontend/src/pages/JoinStep/Agreements.tsx
  frontend/src/pages/JoinStep/DogBasicInfo.tsx
  frontend/src/pages/JoinStep/DogDetailInfo.tsx
  frontend/src/pages/JoinStep/PetOwner.tsx
  frontend/src/pages/Journals/CreateForm.tsx
  frontend/src/pages/Journals/Detail.tsx
  frontend/src/pages/Journals/Journals.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/pages/Walk.tsx
Labels: 🖥️frontend

#617 frontend/DANG-919: 강아지 추가 등록시 마지막 버튼에 “등록 완료”
  frontend/src/pages/Join.tsx
Labels: 🖥️frontend

#618 frontend/DANG-499: 레거시 CheckBox 제거 및 Checkbox2 이름 변경
  frontend/src/components/common/CheckBox.tsx
  frontend/src/components/common/Checkbox.tsx
  frontend/src/components/home/AvailableDogCheck.tsx
  frontend/src/components/home/AvailableDogCheckList.tsx
  frontend/src/components/walk/DogFeceAndUrineCheckList.tsx
  frontend/src/pages/DogProfile.tsx
  frontend/src/pages/JoinStep/Agreements.tsx
  frontend/src/pages/JoinStep/DogDetailInfo.tsx
Labels: 🖥️frontend

#619 backend/DANG-922: lint script를 제거하라
  backend/package.json
Labels: 💾backend

#620 backend/DANG-920: oauth mock 작성
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/guards/auth.guard.ts
  backend/src/auth/guards/oauth-data.guard.ts
  backend/src/auth/guards/refresh-token.guard.ts
  backend/src/auth/interceptors/cookie.interceptor.ts
  backend/src/auth/oauth/__mocks__/oauth.service.ts
  backend/src/auth/oauth/google.service.ts
  backend/src/auth/oauth/kakao.service.ts
  backend/src/auth/oauth/naver.service.ts
  backend/src/breed/breed.controller.ts
  backend/src/common/database/database.module.ts
  backend/src/common/database/seeds/breed.seeder.ts
  backend/src/common/interceptors/logging.interceptor.ts
  backend/src/common/logger/winstonLogger.service.ts
  backend/src/dog-walk-day/dog-walk-day.service.ts
  backend/src/dogs/dogs.module.ts
  backend/src/dogs/dogs.service.ts
  backend/src/dogs/guards/auth-dog.guard.ts
  backend/src/excrements/excrements.service.ts
  backend/src/journals/guards/auth-journal.guard.ts
  backend/src/journals/journals.controller.ts
  backend/src/journals/journals.module.ts
  backend/src/journals/journals.service.ts
  backend/src/journals/types/journal-detail.type.ts
  backend/src/s3/s3.controller.ts
  backend/src/s3/s3.service.ts
  backend/src/statistics/statistics.controller.ts
  backend/src/statistics/statistics.module.ts
  backend/src/statistics/statistics.service.ts
  backend/src/today-walk-time/today-walk-time.service.ts
  backend/src/users/types/user-profile.type.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  backend/src/walk/walk.controller.ts
  backend/src/walk/walk.module.ts
  backend/src/walk/walk.service.ts
Labels: 💾backend

#621 backend/DANG-925: e2e test 실행 시 발생하는 EntityMetadataNotFoundError 해결하기
  backend/src/common/database/database.module.ts
  backend/test/app.e2e-spec.ts
Labels: 💾backend

#622 backend/DANG-926: object일 때만 spread 연산자를 사용해 출력하도록 수정
  backend/src/common/interceptors/logging.interceptor.ts
Labels: 💾backend

#625 frontend/DANG-928: http.ts 콘솔로그 제거
  frontend/src/api/http.ts
Labels: 🖥️frontend

#626 backend/DANG-929: e2e test 실행 시 EntityMetadataNotFoundError 해결하기
  backend/src/common/database/database.module.ts
Labels: 💾backend

#627 frontend/DANG-930: 견종목록 비동기 문제 해결
  frontend/src/constants/keys.ts
  frontend/src/hooks/useBreed.ts
Labels: 🖥️frontend

#628 frontend/DANG-931: 비로그인상태에서 호출하는 api들 queryOption: enabled 로 리팩토링
  frontend/src/api/auth.ts
  frontend/src/hooks/useAuth.ts
Labels: 🖥️frontend

#629 frontend/DANG-932: utils:cookie.ts, react-cookie, react-hook-form 삭제
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/utils/cookie.ts
Labels: 🖥️frontend

#630 frontend/DANG-914: check util 추가
  frontend/src/components/home/AvailableDogCheckList.tsx
  frontend/src/components/walk/DogFeceAndUrineCheckList.tsx
  frontend/src/hooks/useWalkAvailabeDog.ts
  frontend/src/hooks/useWalkingDogs.ts
  frontend/src/pages/Home.tsx
  frontend/src/pages/Walk.tsx
  frontend/src/utils/check.test.ts
  frontend/src/utils/check.ts
Labels: 🖥️frontend

#632 backend/DANG-859: auth e2e test 코드 작성
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/guards/auth.guard.ts
  backend/src/auth/guards/refresh-token.guard.ts
  backend/src/common/logger/winstonLogger.service.ts
  backend/src/fixtures/users.fixture.ts
  backend/src/users/users.spec.ts
  backend/test/app.e2e-spec.ts
  backend/test/auth.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/test/test-utils.ts
Labels: 💾backend

#633 backend/DANG-937: breed e2e test 코드 작성
  backend/src/breed/breed.spec.ts
  backend/src/dog-walk-day/dog-walk-day.spec.ts
  backend/src/dogs/dogs.spec.ts
  backend/src/journals/journals.spec.ts
  backend/src/utils/hash.util.spec.ts
  backend/test/breed.e2e-spec.ts
Labels: 💾backend

#634 frontend/DANG-935: 홈화면 산책화면 스타일 오류수정 및 오타 수정
  frontend/src/components/home/AvailableDogCheck.tsx
  frontend/src/components/home/AvailableDogCheckList.tsx
  frontend/src/components/home/WeatherInfo.tsx
  frontend/src/components/walk/DogFeceAndUrineCheckList.tsx
  frontend/src/components/walk/WalkHeader.tsx
  frontend/src/components/walk/WalkInfo.tsx
  frontend/src/hooks/useWalkAvailabeDog.ts
  frontend/src/index.css
  frontend/src/pages/Home.tsx
  frontend/src/pages/Walk.tsx
Labels: 🖥️frontend

#636 backend/DANG-941: s3 service mock 작성
  backend/src/s3/__mocks__/s3.service.ts
  backend/test/test-utils.ts
Labels: 💾backend

#637 backend/DANG-938: DogsController e2e test 코드 작성
  backend/src/auth/auth.service.spec.ts
  backend/src/breed/breed.spec.ts
  backend/src/dog-walk-day/dog-walk-day.spec.ts
  backend/src/dogs/dogs.controller.ts
  backend/src/dogs/dogs.service.ts
  backend/src/dogs/dogs.spec.ts
  backend/src/fixtures/dogs.fixture.ts
  backend/src/fixtures/users.fixture.ts
  backend/src/journals/journals.spec.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.spec.ts
  backend/test/auth.e2e-spec.ts
  backend/test/constants.ts
  backend/test/dogs.e2e-spec.ts
  backend/test/test-utils.ts
  docs/api/upload.yaml
  docs/dogs/id-statistics.yaml
  docs/journals/id.yaml
  docs/openapi.yaml
Labels: 💾backend

#639 frontend/DANG-940: auth 관련 컨벤션 정리
  frontend/src/api/auth.ts
  frontend/src/api/breed.ts
  frontend/src/api/dog.ts
  frontend/src/api/http.ts
  frontend/src/components/DeactivateModal.tsx
  frontend/src/components/NavbarProvider.tsx
  frontend/src/constants/keys.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useBreed.ts
  frontend/src/hooks/useDogsStatistic.ts
  frontend/src/pages/Join/index.tsx
  frontend/src/pages/MyPage/index.tsx
  frontend/src/pages/OauthCallback.tsx
  frontend/src/store/authStore.ts
Labels: 🖥️frontend

#638 backend/DANG-923: Make file e2e 테스트 실행 데이터베이스를 추가하라
  Makefile
Labels: 💾backend

#640 backend/DANG-944: UsersController e2e test 코드 작성
  backend/src/auth/auth.controller.ts
  backend/src/dogs/dogs.controller.ts
  backend/src/fixtures/users.fixture.ts
  backend/src/journals/journals.controller.ts
  backend/src/users/users.controller.ts
  backend/src/walk/walk.controller.ts
  backend/test/users.e2e-spec.ts
Labels: 💾backend

#641 frontend/DANG-947: dog 컨벤션 정리
  frontend/src/api/dog.ts
  frontend/src/api/journal.ts
  frontend/src/components/BreedSearch.tsx
  frontend/src/components/journals/CompanionDogSection.tsx
  frontend/src/hooks/useDog.ts
  frontend/src/hooks/useWalkAvailabeDog.ts
  frontend/src/models/dog.ts
  frontend/src/pages/Join/DogBasicInfo.tsx
  frontend/src/pages/Join/DogDetailInfo.tsx
  frontend/src/pages/Join/index.tsx
  frontend/src/pages/Journals/index.tsx
  frontend/src/pages/MyPage/DogDetail.tsx
  frontend/src/pages/MyPage/index.tsx
Labels: 🖥️frontend

#643 frontend/DANG-950: 강아지 setData 함수 → 최상단에서 handleChange함수로 변경
  frontend/src/api/dog.ts
  frontend/src/components/BreedSearch.tsx
  frontend/src/components/DeleteDogModal.tsx
  frontend/src/hooks/useDog.ts
  frontend/src/pages/Join/Agreements.tsx
  frontend/src/pages/Join/DogBasicInfo.tsx
  frontend/src/pages/Join/DogDetailInfo.tsx
  frontend/src/pages/Join/index.tsx
  frontend/src/pages/MyPage/DogDetail.tsx
  frontend/src/pages/MyPage/index.tsx
Labels: 🖥️frontend

#644 frontend/DANG-951: 리액트쿼리 시간 관련 상수화
  frontend/src/constants/index.ts
  frontend/src/constants/keys.ts
  frontend/src/constants/time.ts
  frontend/src/hooks/useAddressAndAirgrade.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useBreed.ts
  frontend/src/pages/Join/index.tsx
Labels: 🖥️frontend

#645 frontend/DANG-952: queryKey : auth 통합
  frontend/src/api/http.ts
  frontend/src/hooks/useAuth.ts
Labels: 🖥️frontend

#646 backend/DANG-954: createIfNotExists test case에서 발생하는 heap out of memory error 해결하기
  backend/src/users/users.service.spec.ts
Labels: 💾backend

#647 infra/DANG-955: change_ticket_status_done script에서 check_error 함수 삭제
  .github/workflows/change_ticket_status_done.yaml
Labels: 🌿infra

#648 frontend/DANG-957: 강아지 정보 수정시 mypage로 넘어가지않고 dogDetail 페이지에 머물며 update값 보여주기
  frontend/src/pages/MyPage/DogDetail.tsx
  frontend/src/pages/MyPage/index.tsx
Labels: 🖥️frontend

#649 frontend/DANG-956: toast: face-out animation 추가
  frontend/src/components/commons/Toast.tsx
  frontend/tailwind.config.js
Labels: 🖥️frontend

#651 frontend/DANG-958: custom tailwind theme eslint error 해결
  frontend/.eslintrc.json
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  frontend/tailwind.config.js
Labels: 🖥️frontend

#650 frontend/DANG-948: hook, api 컨벤션 적용 및 오타 수정
  frontend/.vscode/settings.json
  frontend/src/App.tsx
  frontend/src/api/dog.ts
  frontend/src/api/journal.ts
  frontend/src/api/map.ts
  frontend/src/api/walk.ts
  frontend/src/api/weather.ts
  frontend/src/assets/icons/ic-day-clear.svg
  frontend/src/assets/icons/ic-day-cloudy.svg
  frontend/src/assets/icons/ic-night-clear.svg
  frontend/src/assets/icons/ic-night-cloudy.svg
  frontend/src/components/BreedSearch.tsx
  frontend/src/components/ImageCropper.tsx
  frontend/src/components/commons/Topbar.tsx
  frontend/src/components/home/AvailableDogCheck.tsx
  frontend/src/components/home/AvailableDogCheckList.tsx
  frontend/src/components/home/DayIcon.tsx
  frontend/src/components/home/DogCard.tsx
  frontend/src/components/home/WeatherInfo.tsx
  frontend/src/components/journals/CustomCalendar.tsx
  frontend/src/components/journals/JournalCard.tsx
  frontend/src/components/walk/DogFecesAndUrineCheckList.tsx
  frontend/src/components/walk/Map.tsx
  frontend/src/components/walk/WalkHeader.tsx
  frontend/src/constants/keys.ts
  frontend/src/hooks/useAddressAndAirgrade.ts
  frontend/src/hooks/useCalendar.ts
  frontend/src/hooks/useDogsStatistic.ts
  frontend/src/hooks/useGeolocation.ts
  frontend/src/hooks/useJournals.ts
  frontend/src/hooks/useStopWatch.ts
  frontend/src/hooks/useSunsetSunrise.ts
  frontend/src/hooks/useWalkAvailabeDog.ts
  frontend/src/hooks/useWalkAvailableDog.ts
  frontend/src/hooks/useWalkingDogs.ts
  frontend/src/hooks/useWeather.ts
  frontend/src/models/dog.ts
  frontend/src/models/weather.ts
  frontend/src/pages/Home.tsx
  frontend/src/pages/Join/index.tsx
  frontend/src/pages/Journals/index.tsx
  frontend/src/pages/MyPage/DogDetail.tsx
  frontend/src/pages/MyPage/index.tsx
  frontend/src/pages/Walk.tsx
  frontend/src/store/spinnerStore.ts
  frontend/src/utils/date.ts
  frontend/src/utils/format.ts
  frontend/src/utils/geo.ts
  frontend/src/utils/time.ts
  frontend/src/utils/weather.ts
  frontend/src/utils/wether.test.ts
Labels: 🖥️frontend

#652 frontend/DANG-959: tailwind eslint fix
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/BreedSearch.tsx
  frontend/src/components/ImageCropper.tsx
  frontend/src/components/LoginAlertModal.tsx
  frontend/src/components/commons/BottomSheet.tsx
  frontend/src/components/commons/Button.tsx
  frontend/src/components/commons/Checkbox.tsx
  frontend/src/components/commons/DefaultProfileImage.tsx
  frontend/src/components/commons/Spinner.tsx
  frontend/src/components/home/DayIcon.tsx
  frontend/src/components/home/Progressbar.tsx
  frontend/src/components/home/RegisterCard.tsx
  frontend/src/components/journals/AddImageButton.tsx
  frontend/src/components/journals/CustomCalendar.tsx
  frontend/src/components/journals/JournalCard.tsx
  frontend/src/components/walk/StopToast.tsx
  frontend/src/pages/Join/DogBasicInfo.tsx
  frontend/src/pages/Join/DogDetailInfo.tsx
  frontend/src/pages/Join/PetOwner.tsx
  frontend/src/pages/Join/index.tsx
  frontend/src/pages/Journals/CreateForm.tsx
  frontend/src/pages/Journals/Detail.tsx
  frontend/src/pages/MyPage/index.tsx
Labels: 🖥️frontend

#653 frontend/DANG-963: time.ts regular -> arrow function
  frontend/src/utils/time.ts
Labels: 🖥️frontend

#654 frontend/DANG-964: Modal 컴포넌트의 스타일 수정
  frontend/src/components/commons/Modal.tsx
Labels: 🖥️frontend

#655 frontend/DANG-965: 산책기록 저장 페이지의 스타일 수정
  frontend/src/pages/Journals/CreateForm.tsx
Labels: 🖥️frontend

#656 frontend/DANG-966: 산책기록 상세 페이지의 스타일 수정
  frontend/src/pages/Journals/Detail.tsx
Labels: 🖥️frontend

#657 backend/DANG-968: StatisticsController e2e test 코드 작성
  backend/src/fixtures/statistics.fixture.ts
  backend/test/statistics.e2e-spec.ts
  backend/test/test-utils.ts
Labels: 💾backend

#658 backend/DANG-969: e2e test Authorization header 인가 test 공통 함수로 분리하여 적용하기
  backend/package.json
  backend/test/auth.e2e-spec.ts
  backend/test/constants.ts
  backend/test/dogs.e2e-spec.ts
  backend/test/statistics.e2e-spec.ts
  backend/test/test-utils.ts
  backend/test/users.e2e-spec.ts
Labels: 💾backend

#660 backend/DANG-971: ESLint 규칙 Jest를 추가하기
  backend/.eslintrc.js
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.service.spec.ts
  backend/src/breed/breed.service.spec.ts
  backend/src/journals/journals.spec.ts
  backend/src/users/users.service.spec.ts
  backend/test/auth.e2e-spec.ts
  backend/test/breed.e2e-spec.ts
  backend/test/dogs.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/test/statistics.e2e-spec.ts
  backend/test/test-utils.ts
  backend/test/users.e2e-spec.ts
Labels: 💾backend

#661 backend/DANG-942: S3Controller e2e test 코드 작성
  backend/src/auth/auth.service.ts
  backend/src/s3/__mocks__/s3.service.ts
  backend/src/s3/s3.controller.ts
  backend/test/s3.e2e-spec.ts
Labels: 💾backend

#662 frontend/DANG-972: 네이밍 수정 : Join →SignUp, Profile → MyPage
  frontend/src/components/Navbar.tsx
  frontend/src/components/home/RegisterCard.tsx
  frontend/src/components/journals/Navbar.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/index.tsx
  frontend/src/pages/Join/Agreements.tsx
  frontend/src/pages/Join/index.tsx
  frontend/src/pages/MyPage/DogDetail.tsx
  frontend/src/pages/MyPage/index.tsx
  frontend/src/utils/oauth.ts
Labels: 🖥️frontend

#663 backend/DANG-973: ESLint 정렬 규칙 수정하기
  backend/.eslintrc.js
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/oauth/google.service.ts
  backend/src/auth/oauth/kakao.service.ts
  backend/src/auth/oauth/naver.service.ts
  backend/src/breed/breed.controller.ts
  backend/src/breed/breed.module.ts
  backend/src/breed/breed.repository.ts
  backend/src/breed/breed.service.spec.ts
  backend/src/common/database/database.module.ts
  backend/src/dog-walk-day/dog-walk-day.module.ts
  backend/src/dog-walk-day/dog-walk-day.repository.ts
  backend/src/dog-walk-day/dog-walk-day.service.ts
  backend/src/dogs/dogs.controller.ts
  backend/src/dogs/dogs.entity.ts
  backend/src/dogs/dogs.module.ts
  backend/src/dogs/dogs.repository.ts
  backend/src/dogs/dogs.service.ts
  backend/src/dogs/dogs.spec.ts
  backend/src/excrements/excrements.entity.ts
  backend/src/excrements/excrements.module.ts
  backend/src/excrements/excrements.service.ts
  backend/src/journal-photos/journal-photos.module.ts
  backend/src/journal-photos/journal-photos.repository.ts
  backend/src/journals-dogs/journals-dogs.module.ts
  backend/src/journals-dogs/journals-dogs.repository.ts
  backend/src/journals/journals.controller.ts
  backend/src/journals/journals.module.ts
  backend/src/journals/journals.repository.ts
  backend/src/journals/journals.service.ts
  backend/src/s3/__mocks__/s3.service.ts
  backend/src/s3/s3.controller.ts
  backend/src/s3/s3.service.ts
  backend/src/statistics/statistics.controller.ts
  backend/src/statistics/statistics.module.ts
  backend/src/statistics/statistics.service.ts
  backend/src/today-walk-time/today-walk-time.module.ts
  backend/src/today-walk-time/today-walk-time.repository.ts
  backend/src/today-walk-time/today-walk-time.service.ts
  backend/src/users-dogs/users-dogs.module.ts
  backend/src/users-dogs/users-dogs.repository.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.entity.ts
  backend/src/users/users.module.ts
  backend/src/users/users.repository.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  backend/src/users/users.spec.ts
  backend/src/walk/walk.controller.ts
  backend/src/walk/walk.module.ts
  backend/test/auth.e2e-spec.ts
  backend/test/breed.e2e-spec.ts
  backend/test/dogs.e2e-spec.ts
  backend/test/s3.e2e-spec.ts
  backend/test/statistics.e2e-spec.ts
  backend/test/test-utils.ts
  backend/test/users.e2e-spec.ts
Labels: 💾backend

#665 frontend/DANG-975: 로그아웃, 회원탈퇴 후 isSignedIn bfcache 문제 해결
  frontend/src/hooks/useAuth.ts
Labels: 🖥️frontend

#666 backend/DANG-976: CORS 허용 origin 추가
  backend/src/main.ts
Labels: 💾backend

#667 backend/DANG-977: CORS 허용 origin 목록에서 https://dangdang-walk.vercel.app 제거
  backend/src/main.ts
Labels: 💾backend

#668 backend/DANG-978: 배포용 테스트 추가
  backend/src/main.ts
Labels: 💾backend

#669 frontend/DANG-980: goole 인가코드 url 수정
  frontend/src/utils/oauth.ts
Labels: 🖥️frontend

#670 backend/DANG-981: S3 URI 변경
  backend/src/s3/s3.controller.ts
  backend/test/s3.e2e-spec.ts
  docs/images/delete.yaml
  docs/images/presigned-url.yaml
  docs/openapi.yaml
  frontend/src/api/upload.ts
Labels: 💾backend

#671 frontend/DANG-984: tokenKeys, storageKeys 정리
  frontend/src/api/http.ts
  frontend/src/components/ImageCropper.tsx
  frontend/src/constants/keys.ts
Labels: 🖥️frontend

#672 frontend/DANG-985: 기존 강아지 사진이 있는상태에서 사진이외의 정보 수정했을때 사진이 없어지는 문제 해결
  frontend/src/pages/MyPage/DogDetail.tsx
Labels: 🖥️frontend

#673 frontend/DANG-986: 강아지 사진 저장안되는 문제 해결
  frontend/src/api/dog.ts
  frontend/src/pages/MyPage/DogDetail.tsx
Labels: 🖥️frontend

#675 frontend/DANG-960: 필요없는 파일 및 함수 수정 및 컨벤션 적용
  frontend/.vscode/settings.json
  frontend/public/index.html
  frontend/src/api/journal.ts
  frontend/src/api/walk.ts
  frontend/src/classes/Distance.test.ts
  frontend/src/classes/Distance.ts
  frontend/src/components/Navbar.tsx
  frontend/src/components/commons/BottomSheet.tsx
  frontend/src/components/commons/Topbar.tsx
  frontend/src/components/home/DogCard.tsx
  frontend/src/components/home/WeatherInfo.tsx
  frontend/src/components/journals/CustomCalendar.tsx
  frontend/src/components/walk/Map.tsx
  frontend/src/components/walk/WalkInfo.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useCalendar.ts
  frontend/src/hooks/useGeolocation.ts
  frontend/src/hooks/useJournals.ts
  frontend/src/index.tsx
  frontend/src/pages/Camera.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Journals/index.tsx
  frontend/src/pages/MyPage/DogDetail.tsx
  frontend/src/pages/Walk.tsx
  frontend/src/utils/distance.test.ts
  frontend/src/utils/distance.ts
  frontend/src/utils/format.test.ts
  frontend/src/utils/format.ts
  frontend/src/utils/time.ts
Labels: 🖥️frontend

#676 infra/DANG-988: 백엔드 배포 워크플로우 이미지 레포지토리 변경
  .github/workflows/backend_deploy.yaml
  .github/workflows/frontend_deploy.yaml
Labels: 🌿infra

#677 infra/DANG-994: startDate와 endDate 변수 선언 분리
  backend/src/statistics/statistics.service.ts
Labels: 🌿infra

#678 infra/DANG-995: 산책 통계 조회 시 데이터 불일치 예외 처리 개선 및 docker image 변경
  .github/workflows/backend_deploy.yaml
  backend/src/statistics/statistics.service.ts
Labels: 🌿infra

#679 infra/DANG-997: 배포용 lint 정리하기
  backend/src/statistics/statistics.service.ts
Labels: 🌿infra

#683 backend/DANG-1001: AuthDogsGuard Validation 및 test case 추가
  backend/src/dogs/dogs.controller.ts
  backend/src/journals/dtos/create-journal.dto.ts
  backend/src/journals/journals.controller.ts
  backend/src/journals/validators/WGS84.validator.ts
  backend/src/statistics/statistics.controller.ts
  backend/src/utils/validator.util.ts
  backend/src/walk/guards/auth-dogs.guard.ts
  backend/src/walk/walk.controller.ts
  backend/test/walk.e2e-spec.ts
Labels: 💾backend

#685 backend/DANG-1003: Swagger CORS 에러 해결하기
  backend/src/main.ts
  docs/dogs/default.yaml
  docs/dogs/id-statistics.yaml
  docs/images/delete.yaml
Labels: 💾backend

#688 infra/DANG-1005: ECR 이미지 삭제 단계 오류 수정
  .github/workflows/backend_deploy.yaml
Labels: 🌿infra

#689 backend/DANG-1006: config 폴더 옮기기
  backend/src/common/config/settings.ts
  backend/src/journals-dogs/journals-dogs.service.ts
  backend/src/main.ts
Labels: 💾backend

#690 backend/DANG-1007: docker env 속성 변경 후 재배포
  backend/src/dogs/dogs.service.ts
Labels: 💾backend

#692 backend/DANG-1009: Blue-Green 배포 전략 확인하기
  backend/src/dog-walk-day/dog-walk-day.spec.ts
Labels: 💾backend

#693 backend/DANG-1011: 버킷 이름 변경
  backend/src/s3/s3.service.ts
  backend/test/s3.e2e-spec.ts
Labels: 💾backend

#694 infra/DANG-1014: Github ShellScript 인자값 변경하기
  .github/workflows/backend_deploy.yaml
  backend/src/breed/breed.spec.ts
Labels: 🌿infra

#695 backend/DANG-1000: 서버 이전에 따른 Set-Cookie option 수정
  backend/src/auth/interceptors/cookie.interceptor.ts
Labels: 💾backend

#696 frontend/DANG-1015: journal page 강아지 사진 경로 오류 수정
  frontend/src/components/journals/JournalCard.tsx
Labels: 🖥️frontend

#697 backend/DANG-1016: 회원가입시 디폴트 프로필 이미지 사용하도록 변경
  backend/src/auth/auth.service.ts
Labels: 💾backend

#698 backend/DANG-1018: updateJournal에 @Transactional 적용 시 요청이 hang되는 오류 해결하기
  backend/src/common/database/abstract.repository.ts
  backend/src/common/database/database.module.ts
  backend/src/journals/journals.service.ts
Labels: 💾backend

#699 backend/DANG-1019: server 이전 후 바뀐 url로 업데이트
  docs/openapi.yaml
Labels: 💾backend

#701 backend/DANG-1021: Guard refactoring
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/guards/auth.guard.ts
  backend/src/auth/guards/oauth-data.guard.ts
  backend/src/auth/guards/refresh-token.guard.ts
  backend/src/dogs/guards/auth-dog.guard.ts
  backend/src/journals/guards/auth-journal.guard.ts
  backend/src/walk/guards/auth-dogs.guard.ts
Labels: 💾backend

#702 backend/DANG-1022: query logging을 배포 환경이 아닐 때만 사용하도록 수정
  backend/src/common/database/database.module.ts
Labels: 💾backend

#704 frontend/DANG-1024: 강아지 사진 포맷 jpeg로 수정 및 압축화
  frontend/src/components/ImageCropper.tsx
  frontend/src/pages/MyPage/DogDetail.tsx
Labels: 🖥️frontend

#705 frontend/DANG-1025: cookie에 refreshtoken 없을때 로그아웃 되지 않는 문제 해결
  frontend/src/api/http.ts
  frontend/src/pages/Join/index.tsx
Labels: 🖥️frontend

#706 frontend/DANG-1026: Get 함수 캐싱 적용
  frontend/src/constants/time.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useBreed.ts
  frontend/src/hooks/useDog.ts
Labels: 🖥️frontend

#707 frontend/DANG-1027: authStore, cropStore에 devtools 적용
  frontend/src/store/authStore.ts
  frontend/src/store/cropStore.ts
Labels: 🖥️frontend

#708 frontend/DANG-990: 날씨 api 캐시 처리 및 geolocation denied 오류 해결
  frontend/.vscode/settings.json
  frontend/src/components/home/WeatherInfo.tsx
  frontend/src/constants/time.ts
  frontend/src/hooks/useAddressAndAirgrade.ts
  frontend/src/hooks/useDogsStatistic.ts
  frontend/src/hooks/useGeolocation.ts
  frontend/src/hooks/useSunsetSunrise.ts
  frontend/src/hooks/useWalkAvailableDog.ts
  frontend/src/hooks/useWeather.ts
Labels: 🖥️frontend

#709 frontend/DANG-1031: 클릭이벤트가 발생하는 곳에 scale 옵션 추가
  frontend/src/components/BreedSearch.tsx
  frontend/src/components/OAuthButton.tsx
  frontend/src/components/home/DogCard.tsx
  frontend/src/components/journals/JournalCard.tsx
  frontend/src/pages/Join/DogDetailInfo.tsx
  frontend/src/pages/MyPage/DogDetail.tsx
  frontend/src/pages/MyPage/index.tsx
Labels: 🖥️frontend

#711 frontend/DANG-1033: LoginAlertModal 로그인 상태관련 로직 수정
  frontend/src/components/NavbarProvider.tsx
  frontend/src/hooks/useAuth.ts
Labels: 🖥️frontend

#712 frontend/DANG-1034: useGetRefreshToken enabled 옵션 삭제
  frontend/src/hooks/useAuth.ts
Labels: 🖥️frontend

#713 frontend/DANG-989: 산책시 뒤로가기 눌렀을때 생기는 에러 수정 및 날씨 블링크 이슈 수정
  frontend/src/components/home/WeatherInfo.tsx
  frontend/src/hooks/useWeather.ts
  frontend/src/pages/Home.tsx
  frontend/src/pages/Walk.tsx
Labels: 🖥️frontend

#714 frontend/DANG-1037: 로그아웃 Onsettled에서 로그아웃 뒷처리
  frontend/src/hooks/useAuth.ts
Labels: 🖥️frontend

#715 backend/DANG-1032: test 환경에서는 logging을 출력하거나 파일에 저장하지 않도록 수정
  backend/src/common/logger/winstonLogger.service.ts
Labels: 💾backend

#716 backend/DANG-1038: 산책 일지 생성 및 삭제 시 DogWalkDay까지 확인하도록 e2e test 수정
  backend/test/journals.e2e-spec.ts
  backend/test/test-utils.ts
Labels: 💾backend

#717 frontend/DANG-1039: interceptor에서 token api 401일때 로그아웃 처리
  frontend/src/api/http.ts
Labels: 🖥️frontend

#718 backend/DANG-1042: journal 관련 fixture에서 위도, 경도 값 수정
  backend/src/fixtures/journals.fixture.ts
  backend/src/fixtures/statistics.fixture.ts
Labels: 💾backend

#720 frontend/DANG-1043: 강아지 생성시 강아지목록 갱신
  frontend/src/hooks/useDog.ts
Labels: 🖥️frontend

#719 backend/DANG-1030: Logging 설정 업데이트
  backend/src/common/database/database.module.ts
  backend/src/common/logger/winstonLogger.service.ts
Labels: 💾backend

#721 frontend/DANG-1044: WebView 통신 테스트
  frontend/src/pages/MyPage/index.tsx
  frontend/src/pages/WebView.tsx
Labels: 🖥️frontend

#722 frontend/DANG-1045: WebView 통신 테스트 2차
  frontend/src/pages/WebView.tsx
Labels: 🖥️frontend

#723 frontend/DANG-1046: WebView test code 삭제
  frontend/src/pages/MyPage/index.tsx
  frontend/src/pages/WebView.tsx
Labels: 🖥️frontend

#724 frontend/DANG-1047: 클릭이벤트 있는 버튼에 scale 옵션 추가 2차
  frontend/src/components/CancelRegModal.tsx
  frontend/src/pages/Join/DogBasicInfo.tsx
  frontend/src/pages/Join/DogDetailInfo.tsx
  frontend/src/pages/Join/PetOwner.tsx
  frontend/src/pages/Join/index.tsx
  frontend/src/pages/MyPage/DogDetail.tsx
  frontend/src/pages/MyPage/index.tsx
Labels: 🖥️frontend

#725 frontend/DANG-1048: 위치 정보 없는 상태 추가 및 위치 정보 없을때 경고문 표시
  frontend/src/components/home/WeatherInfo.tsx
  frontend/src/hooks/useGeolocation.ts
  frontend/src/pages/Home.tsx
Labels: 🖥️frontend

#726 frontend/DANG-992: home refactoring
  frontend/src/components/commons/BottomSheet.tsx
  frontend/src/components/home/AvailableDogCheckList.tsx
  frontend/src/components/home/DogCardList.tsx
  frontend/src/components/home/DogStatisticsView.tsx
  frontend/src/components/home/RegisterCard.tsx
  frontend/src/components/journals/JournalCard.tsx
  frontend/src/components/journals/JournalCardList.tsx
  frontend/src/hooks/useJournals.ts
  frontend/src/pages/Home.tsx
  frontend/src/pages/Journals/index.tsx
  frontend/src/pages/Walk.tsx
  frontend/src/utils/validate.ts
Labels: 🖥️frontend

#727 backend/DANG-1053: 바꿔야 할 부분 TODO 주석처리
  backend/package-lock.json
  backend/src/breed/breed.service.ts
  backend/src/dog-walk-day/dog-walk-day.service.ts
  backend/src/dogs/dogs.service.ts
  backend/src/excrements/excrements.service.ts
  backend/src/journal-photos/journal-photos.service.ts
  backend/src/journals-dogs/journals-dogs.service.ts
  backend/src/journals/journals.entity.ts
  backend/src/journals/journals.service.ts
  backend/src/journals/types/journal-detail.type.ts
  backend/src/s3/s3.service.ts
  backend/src/statistics/statistics.service.ts
  backend/src/today-walk-time/today-walk-time.service.ts
  backend/src/users/users.entity.ts
  backend/src/users/users.service.ts
  backend/src/walk/walk.service.ts
Labels: 💾backend

#728 backend/DANG-1057: FakeDate을 설정해 산책 일지 삭제 요청 시 walkDay 검증이 실패하는 오류 수정
  backend/test/journals.e2e-spec.ts
Labels: 💾backend

#729 backend/DANG-1051: 응답으로 true를 반환하는 코드 삭제 및 Http Code 204로 설정
  backend/src/dogs/dogs.controller.ts
  backend/src/journals/journals.controller.ts
  backend/src/s3/s3.controller.ts
Labels: 💾backend

#730 frontend/DANG-1060: image crop, 강아지 정보 수정시 spinner 추가
  frontend/src/components/ImageCropper.tsx
  frontend/src/pages/MyPage/DogDetail.tsx
Labels: 🖥️frontend

#731 backend/DANG-1055: 프로그래머스 최종 발표회 발표 영상 바로가기 README 및 wiki에 추가
  README.md
Labels: 💾backend

#732 frontend/DANG-1061: webview 통신 test
  frontend/src/global.d.ts
  frontend/src/pages/MyPage/index.tsx
Labels: 🖥️frontend

#733 frontend/DANG-1062: webview 통신 test 2
  frontend/src/pages/MyPage/index.tsx
Labels: 🖥️frontend

#734 frontend/DANG-1064: webview postMessage에 setTimeout 추가
  frontend/src/pages/MyPage/index.tsx
Labels: 🖥️frontend

#735 frontend/DANG-1065: webview 메세지에 고유값 넣어주기
  frontend/src/pages/MyPage/index.tsx
Labels: 🖥️frontend

#737 frontend/DANG-1067: Webview postmessage 수정
  frontend/src/pages/MyPage/index.tsx
Labels: 🖥️frontend

#736 backend/DANG-1063: TokenService method를 비동기 함수로 수정 및 AuthService TODO 추가
  README.md
  backend/src/auth/auth.service.ts
  backend/src/auth/token/token.service.ts
Labels: 💾backend

#738 frontend/DANG-1068: 최초가입후 강아지 등록 후 callback 페이지로 리다이렉트 되는 문제 해결
  frontend/src/hooks/useDog.ts
  frontend/src/hooks/useDogsStatistic.ts
  frontend/src/pages/Join/index.tsx
Labels: 🖥️frontend

#739 frontend/DANG-1075: 글자 드래그 막기
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.css
Labels: 🖥️frontend

#740 frontend/DANG-1069: 일지 상세 페이지에서 읽기 모드일 때 메모 포커스 없애기
  frontend/src/components/journals/MemoSection.tsx
  frontend/src/pages/Journals/Detail.tsx
Labels: 🖥️frontend

#742 frontend/DANG-1052: eslint no-console 추가 및 home handle bottom sheet refactoring
  frontend/.eslintrc.json
  frontend/src/api/http.ts
  frontend/src/api/weather.ts
  frontend/src/components/journals/CustomCalendar.tsx
  frontend/src/hooks/useGeolocation.ts
  frontend/src/pages/Health.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Journals/index.tsx
Labels: 🖥️frontend

#741 frontend/DANG-1076: @babel/plugin-transform-private-property-in-object 추가
  frontend/package-lock.json
  frontend/src/App.tsx
Labels: 🖥️frontend

#743 backend/DANG-1078: getAvailableDogs 테스트 케이스 추가
  backend/src/walk/test.walk.service.ts
  backend/src/walk/walk.service.spec.ts
  backend/src/walk/walk.service.ts
Labels: 💾backend

#747 frontend/DANG-1077: journals page에서 강아지 선택시 데이터 fetch 오류
  frontend/.eslintrc.json
  frontend/src/api/dog.ts
  frontend/src/components/home/DogStatisticsView.tsx
  frontend/src/components/journals/CustomCalendar.tsx
  frontend/src/components/journals/JournalCardList.tsx
  frontend/src/constants/keys.ts
  frontend/src/hooks/useCalendar.ts
  frontend/src/hooks/useDogStatistic.ts
  frontend/src/hooks/useDogsStatistic.ts
  frontend/src/hooks/useJournals.ts
  frontend/src/pages/Journals/index.tsx
  frontend/src/utils/time.ts
Labels: 🖥️frontend

#749 frontend/DANG-1084: 사진 등록했을때 토스트 보여주는 기능 추가 및 이동시 자동으로 지도 움직이는 기능 제거
  frontend/src/components/walk/Map.tsx
  frontend/src/hooks/useImageUpload.ts
Labels: 🖥️frontend

#750 backend/DANG-1086: AuthService 테스트코드 의존성 제거 및 비동기 함수 처리
  backend/src/auth/auth.service.spec.ts
Labels: 💾backend

#748 backend/DANG-1082: s3 e2e 이미지 삭제 테스트에 대한 expect status 변경
  backend/test/s3.e2e-spec.ts
Labels: 💾backend

#746 backend/DANG-1072: eslint에 사용하지 않는 import 자동 삭제하는 규칙, 할당되었지만 사용되지 않은 변수 error 리턴하는 규칙 추가
  backend/.eslintrc.js
  backend/package-lock.json
  backend/package.json
  backend/src/breed/breed.service.spec.ts
  backend/src/common/database/abstract.repository.ts
  backend/src/common/database/database.module.ts
  backend/src/journals/journals.service.ts
  backend/src/journals/types/journal-detail.type.ts
  backend/src/journals/validators/WGS84.validator.ts
  backend/src/users/users.service.spec.ts
  backend/test/dogs.e2e-spec.ts
  backend/test/users.e2e-spec.ts
Labels: 💾backend

#753 frontend/DANG-1088: 롱클릭 안드로이드에서 오류 수정 및 디자인 적용
  frontend/src/App.tsx
  frontend/src/components/walk/WalkNavbar.tsx
Labels: 🖥️frontend

#752 infra/DANG-1087: pre-push git hook으로 git push 전에 test를 돌리도록 강제하기
  backend/.husky/pre-commit
  backend/.husky/pre-push
  frontend/.husky/pre-commit
Labels: 🌿infra

#751 backend/DANG-1083: status code 200->204로 변경된 api swagger에 반영
  docs/auth/users.yaml
  docs/images/delete.yaml
  docs/journals/id.yaml
Labels: 💾backend

#754 frontend/DANG-1089: long click time 0.5s에서 1s onContextMenu prevent
  frontend/src/components/walk/WalkNavbar.tsx
Labels: 🖥️frontend

#755 frontend/DANG-1090: long click time 0.5s 1s
  frontend/src/components/walk/WalkNavbar.tsx
Labels: 🖥️frontend

#756 frontend/DANG-502: Zustand 스토어 하나로 통합
  frontend/src/App.tsx
  frontend/src/components/CropperModal.tsx
  frontend/src/components/ImageCropper.tsx
  frontend/src/components/OAuthButton.tsx
  frontend/src/components/commons/Toast.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useBreed.ts
  frontend/src/hooks/useDog.ts
  frontend/src/hooks/useDogsStatistic.ts
  frontend/src/hooks/useToast.ts
  frontend/src/pages/Join/DogBasicInfo.tsx
  frontend/src/pages/Join/index.tsx
  frontend/src/pages/Journals/CreateForm.tsx
  frontend/src/pages/Journals/Detail.tsx
  frontend/src/pages/MyPage/DogDetail.tsx
  frontend/src/pages/Walk.tsx
  frontend/src/store/authStore.ts
  frontend/src/store/cropStore.ts
  frontend/src/store/index.ts
  frontend/src/store/loginBottomSheetStore.ts
  frontend/src/store/spinnerStore.ts
  frontend/src/store/toastStore.ts
Labels: 🖥️frontend

#757 frontend/DANG-1094: 스토어에 devtools 적용
  frontend/src/store/authStore.ts
  frontend/src/store/cropStore.ts
  frontend/src/store/index.ts
  frontend/src/store/loginBottomSheetStore.ts
  frontend/src/store/spinnerStore.ts
  frontend/src/store/toastStore.ts
Labels: 🖥️frontend

#760 frontend/DANG-1070: 전체 레이아웃 사이즈 수정
  frontend/src/components/AuthLayout.tsx
  frontend/src/components/BreedSearch.tsx
  frontend/src/components/ImageCropper.tsx
  frontend/src/components/LoginAlertModal.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/commons/BottomSheet.tsx
  frontend/src/components/commons/Toast.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/MyPage/DogDetail.tsx
  frontend/src/pages/MyPage/index.tsx
  frontend/src/pages/SignUp/Agreements.tsx
  frontend/src/pages/SignUp/DogBasicInfo.tsx
  frontend/src/pages/SignUp/DogDetailInfo.tsx
  frontend/src/pages/SignUp/PetOwner.tsx
  frontend/src/pages/SignUp/index.tsx
Labels: 🖥️frontend

#758 backend/DANG-1095: dogs, s3, users e2e 테스트에서 fixture를 각 테스트에서 정의하도록 변경
  backend/test/dogs.e2e-spec.ts
  backend/test/users.e2e-spec.ts
Labels: 💾backend

#764 frontend/DANG-1098: contextMenu preventDefault 및 navbar style 수정
  frontend/src/components/walk/WalkNavbar.tsx
Labels: 🖥️frontend

#762 backend/DANG-1096: test-utils insert method 형식 변경
  backend/test/auth.e2e-spec.ts
  backend/test/dogs.e2e-spec.ts
  backend/test/journals.e2e-spec.ts
  backend/test/s3.e2e-spec.ts
  backend/test/statistics.e2e-spec.ts
  backend/test/test-utils.ts
  backend/test/users.e2e-spec.ts
  backend/test/walk.e2e-spec.ts
Labels: 💾backend

#763 backend/DANG-1099: journals, walk e2e 테스트에서 fixture를 각 테스트에서 정의하도록 변경
  backend/src/walk/walk.service.spec.ts
  backend/test/journals.e2e-spec.ts
  backend/test/walk.e2e-spec.ts
Labels: 💾backend

#765 backend/DANG-1100: 변경된 test-utils insert method 형식에 따라 e2e test 수정
  backend/test/auth.e2e-spec.ts
  backend/test/dogs.e2e-spec.ts
  backend/test/journals.e2e-spec.ts
  backend/test/s3.e2e-spec.ts
  backend/test/statistics.e2e-spec.ts
  backend/test/test-utils.ts
  backend/test/users.e2e-spec.ts
  backend/test/walk.e2e-spec.ts
Labels: 💾backend

#766 backend/DANG-1101: BreedService 테스트 케이스 추가
  backend/src/breed/breed.service.spec.ts
  backend/src/breed/breed.service.ts
Labels: 💾backend

#767 backend/DANG-1102: 에러 메세지 영어 -> 한글로 변경
  backend/src/auth/auth.service.ts
  backend/src/auth/guards/auth.guard.ts
  backend/src/auth/guards/oauth-data.guard.ts
  backend/src/auth/guards/refresh-token.guard.ts
  backend/src/auth/interceptors/cookie.interceptor.ts
  backend/src/auth/oauth/google.service.ts
  backend/src/auth/oauth/kakao.service.ts
  backend/src/auth/oauth/naver.service.ts
  backend/src/common/database/database.module.ts
  backend/src/dog-walk-day/dog-walk-day.service.spec.ts
  backend/src/dog-walk-day/dog-walk-day.service.ts
  backend/src/dogs/dogs.service.ts
  backend/src/dogs/guards/auth-dog.guard.ts
  backend/src/journals/guards/auth-journal.guard.ts
  backend/src/s3/s3.service.ts
  backend/src/statistics/statistics.service.ts
  backend/src/today-walk-time/today-walk-time.service.ts
  backend/src/utils/manipulate.util.ts
  backend/src/utils/ms.util.ts
  backend/src/walk/guards/auth-dogs.guard.ts
  backend/test/dogs.e2e-spec.ts
  backend/test/journals.e2e-spec.ts
  backend/test/users.e2e-spec.ts
Labels: 💾backend

#771 frontend/DANG-1108: vitest 환경 설정 추가
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/mocks/handler.ts
  frontend/src/mocks/server.ts
  frontend/src/setupTests.ts
  frontend/src/utils/check.test.ts
  frontend/src/utils/distance.test.ts
  frontend/src/utils/geo.test.ts
  frontend/src/utils/url.test.ts
  frontend/src/utils/wether.test.ts
  frontend/vitest.config.ts
Labels: 🖥️frontend

#768 backend/DANG-1103: API response time script 작성
  backend/package.json
  backend/src/auth/guards/oauth-data.guard.ts
  backend/src/common/database/database.module.ts
  backend/test/performance/__mocks__/oauth.service.ts
  backend/test/performance/__mocks__/s3.service.ts
  backend/test/performance/response-time.ts
Labels: 💾backend

#769 backend/DANG-1104: getWalkDayList 함수에 walkDayIds 인자가 빈 배열일 경우에 대한 예외처리 추가
  backend/src/dog-walk-day/dog-walk-day.service.spec.ts
  backend/src/dog-walk-day/dog-walk-day.service.ts
Labels: 💾backend

#772 backend/DANG-1110: 원하는 payload를 가지는 test token을 발급하는 script 작성
  backend/test/performance/utils/token.util.ts
Labels: 💾backend

#773 backend/DANG-1111: ExcrementsService 테스트 케이스 추가
  backend/src/excrements/excrements.service.spec.ts
  backend/src/excrements/excrements.service.ts
  backend/src/excrements/excrements.spec.ts
  backend/src/excrements/fake-excrements.service.ts
  backend/src/journals/journals.service.ts
Labels: 💾backend

#776 frontend/DANG-1109: check box 컴포넌트 테스트 추가
  frontend/.eslintrc.json
  frontend/.vscode/settings.json
  frontend/package.json
  frontend/src/components/commons/ Checkbox.test.tsx
  frontend/src/components/commons/Checkbox.tsx
  frontend/src/components/home/AvailableDogCheckList.tsx
  frontend/src/components/home/WeatherInfo.tsx
  frontend/src/components/icons/Check.stories.tsx
  frontend/src/components/icons/Check.tsx
  frontend/src/components/journals/IconAndNumberDisplay.tsx
  frontend/src/pages/Journals/Detail.tsx
  frontend/tailwind.config.js
Labels: 🖥️frontend

#778 frontend/DANG-1116: data-testid build시 제거
  frontend/.prettierignore
  frontend/craco.config.cjs
  frontend/package-lock.json
  frontend/package.json
Labels: 🖥️frontend
